.chat-list-item {
    padding: 12px 0px;
    /* border-bottom: 1px solid #EFF2FD; */
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}
.chat-list-inner {
    background: #fff;
margin: 0 -15px;
padding: 0 20px !important;
}
.chat-user-thumb {
    margin-right: 18px;
    position: relative;
    width: 50px;
}
.status-badge-icon::after {
    content: "";
    height: 15px;
    width: 15px;
    border: 2px solid #fff;
    /* background: #56E965; */
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
}
.chat-user-thumb img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
span.user-status-badge {
    width: 15px;
    height: 15px;
    /* background: #56E965; */
    position: absolute;
    right: 0;
    border-radius: 50%;
    border: 1.5px solid #fff;
}
.chat-user-name span {
    font-size: 14px;
    color: #414141;
    font-family: 'Gellix', sans-serif;
    font-weight: 700;
}
.chat-user-name, .chat-user-msg {
    display: flex;
    justify-content: space-between;
}
.chat-user-list-content {
    width: 81%;
    border-bottom: 1px solid #EFF2FD;
    padding-bottom: 10px;
}
.chat-user-name span.last-seen {
    font-size: 10px !important;
    color: #647895 !important;
    font-weight: 700 !important;
}
.chat-user-msg span {
    font-size: 12px;
    color: #989EB2;
    font-family: 'Gellix', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    width: 90%;
    text-overflow: ellipsis;
    font-weight: 600;
}
.chat-user-msg span.message-count {
    width: 17px;
    height: 17px;
    background: #E93608;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 800;
    border-radius: 50%;
    justify-content: center;
    font-size: 10px;
    line-height: 1px;
}

::ng-deep body.mobile-green .chat-user-msg span.message-count {
    background: #20AE80 !important;
}


.chat-user-name {
    margin-bottom: 5px;
}
.chat-list-inner {
    padding: 0 0px;
}
.chat-user-name.header-text {
    display: inline;
}
.last-seen-single {
    font-weight: 500;
    font-size: 12px;
    color: #D0D0D0;
    font-family: 'Gellix', sans-serif;
    display: flex;
    align-items: center;
}
.parti_name {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background: #4fb96d;
    border-radius: 50%;
    margin-right: 15px;
  }

  ::ng-deep body .chat-user-list .author-img {

  margin-right: 18px;

}

@media (max-width:360px){
    .chat-user-list-content {
        max-width: 74%;
    }
}
