<div class="app-store-box content">
    <div class="app-content-box" *ngIf="selectedOption == 1">
        <ul>
            <li>
                <div>
                    <img src="../../../assets/img/appstore/Picture1.png" onContextMenu="return false;" loading="lazy" />
                    <h4>Betriebliche Versicherungen</h4>
                </div>
                <!-- <img class="top-img-box" src="../../../assets/img/appstore/Picture25.png" /> -->
            </li>
            <li>
                <div>
                    <img src="../../../assets/img/appstore/Picture3.png" onContextMenu="return false;" loading="lazy" />
                    <h4>HR & Rekruiting </h4>
                </div>
                <!-- <img class="top-img-box" src="../../../assets/img/appstore/Picture23.png" />
                <img class="top-img-box pic-side" src="../../../assets/img/appstore/Picture22.png" /> -->
            </li>
            <li>
                <div>
                    <img src="../../../assets/img/appstore/Picture4.png" onContextMenu="return false;" loading="lazy" />
                    <h4>Benefit-Portal Mitarbeiter
                    </h4>
                </div> 
                <!-- <img class="top-img-box" src="../../../assets/img/appstore/Picture24.png" /> -->
            </li>
            <li>
                <div><img src="../../../assets/img/appstore/Picture5.png" onContextMenu="return false;"
                        loading="lazy" />
                    <h4>BGM</h4>
                </div>
                <!-- <img class="top-img-box" src="../../../assets/img/appstore/Picture21.png" /> -->
            </li>
            <li>
                <div><img src="../../../assets/img/appstore/Picture6.png" onContextMenu="return false;"
                        loading="lazy" />
                    <h4>Energie </h4>
                </div>
            </li>
            <li>
                <div><img src="../../../assets/img/appstore/Picture7.png" onContextMenu="return false;"
                        loading="lazy" />
                    <h4>Telekom-munikation</h4>
                </div>
            </li>
            <li>
                <div> <img src="../../../assets/img/appstore/Picture8.png" onContextMenu="return false;"
                        loading="lazy" />
                    <h4>Fördermittel Check
                    </h4>
                </div>
            </li>
            <li>
                <div><img src="../../../assets/img/appstore/Picture9.png" onContextMenu="return false;"
                        loading="lazy" />
                    <h4>Financial Services (ESG)-Rating
                    </h4>
                </div>
                <!-- <img class="top-img-box" src="../../../assets/img/appstore/Picture18.png" /> -->
            </li>
            <li>
                <div><img src="../../../assets/img/appstore/Picture10.png" onContextMenu="return false;"
                        loading="lazy" />
                    <h4>Digitale Agentur
                    </h4>
                </div>
                <!-- <img class="top-img-box pic-16" src="../../../assets/img/appstore/Picture19.png" /> <img
                    class="top-img-box pic-16-d" src="../../../assets/img/appstore/Picture20.png" /> -->
            </li>
            <li>
                <div><img src="../../../assets/img/appstore/Picture11.png" onContextMenu="return false;"
                        loading="lazy" />
                    <h4>Fuhrpark Management
                    </h4>
                </div>
            </li>
            <li>
                <div><img src="../../../assets/img/appstore/Picture12.png" onContextMenu="return false;"
                        loading="lazy" />
                    <h4>Rechts- und Steuerberatung
                    </h4>
                </div> 
                <!-- <img class="top-img-box pic-17" src="../../../assets/img/appstore/Picture17.png" /> -->
            </li>
            <li>
                <div><img src="../../../assets/img/appstore/Picture13.png" onContextMenu="return false;"
                        loading="lazy" />
                    <h4>Digitale Transformation Storage

                    </h4>
                </div> 
                <!-- <img class="top-img-box pic-16" src="../../../assets/img/appstore/Picture16.png" /> <img
                    class="top-img-box pic-16-b" src="../../../assets/img/appstore/Picture15.png" /> <img
                    class="top-img-box pic-side" src="../../../assets/img/appstore/Picture14.png" /> -->
            </li>
        </ul>
    </div>
    <div *ngIf="selectedOption == 0">
        <div class="content profile_section">
            <div class="page-action">
                <div class="page-heading">
                    <h1 _ngcontent-oyc-c365="">Coming Soon</h1>
                </div>
            </div>
        </div>
    </div>
</div>