@media only screen and (max-width: 1480px) and (min-width: 1261px) {
    .com-g-widget .news-image {
        height: 154px;
    }
}
@media screen and (max-width: 600px) {
    .card {
        margin-right: 0px;
        margin-left: 0px;
    }
    .chat-navigation .nav-tabs .nav-item {
        width: 100% !important;
    }
}
@media only screen and (min-width: 1921px) {
    .card-body.manage_g_widget {
        min-height: 506px;
        overflow: auto;
        max-height: 1086px;
    }
}
.community-group-widget .card {
    background: #fff;
    box-shadow: none;
    padding: 35px 25px;
    border-radius: 20px;
}
.news-widget.com-g-widget {
    background: #fff;
}
.nav-tabs .nav-link.active {
    background-color: transparent;
}
.chat-navigation a.nav-link:before {
    display: none;
}
.chat-navigation a.nav-link svg {
    height: 18px;
    margin-right: 5px;
}

/* new design css start */

.community-group-row {
    display: flex;
    flex-flow: row wrap;
}
.community-group-column {
    max-width: 25%;
    padding: 12px;
    border: none;
    flex: 0 0 25%;
}
.community-group-widget .card .card-body {
    padding: 0;
}
.membar-count-area {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #afafaf;
    font-family: "Gellix", sans-serif;
    flex-wrap: wrap;
    height: 50px;
}
.news-content h5 {
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 55%;
}
.news-widget.com-g-widget button {
    height: 40px;
}
.membar-count-area span {
    display: flex;
    align-items: center;
}
.card-heading h5 {
    font-size: 15px;
    color: #414141;
    font-weight: 700;
    font-family: "Gellix", sans-serif;
}
.card-heading {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
button.mat-menu-item {
    width: 100%;
    font-family: "Gellix", sans-serif;
    font-weight: 600;
    color: #a2acca;
    padding: 0px 25px 0px 20px;
}
.manage_group_widget .card {
    padding: 28px 25px;
    border-radius: 20px;
}
.card-body.manage_g_widget {
    padding: 0;
}
.col-md-3.manage_group_widget .card {
    padding: 28px 25px;
    border-radius: 20px;
    box-shadow: none;
}
button.del-group {
    background: #fb5f5f !important;
}
.news-widget.com-g-widget button.waiting-group {
    background: #FFBE00;
    line-height: 10px;
}
.com-g-widget .news-image {
    border-radius: 15px;
    border: none;
    padding: 0px;
    background: #fff !important;
    /* max-height: 225px; */
    overflow: hidden;
    position: relative;
    display: flex;
    width:100%;
    aspect-ratio: 4/3;    
}
.news-image img {
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}

span.carousel-badge {
    position: absolute;
    top: 35px;
    background: #28a745;
    padding: 4px 0px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    left: -43px;
    text-transform: uppercase;
    border: 1px dashed #fff;
    box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 20%);
    transform: rotate(-51deg);
    width: 174px;
    text-align: center;
}
.carousel-badge-2.two {
    animation: zoom-in-zoom-out 2.1s cubic-bezier(0.46, 0.03, 0.52, 0.96)
        infinite;
    top: 0px;
    background: #007bff;
    padding: 2px 15px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    left: 15px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px dashed #fff;
    box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 20%);
}
.carousel-badge-2.two {
    position: absolute;
    right: 11px;
    /* width: 103px; */
    left: inherit;
    top: 5px;
}
.news-content {
    position: relative;
}
@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1780px) {
    .col-md-9.community-group-widget {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-md-3.manage_group_widget {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .gn-right {
        width: 58%;
    }
}
@media only screen and (max-width: 1200px) {
    .community-group-column {
        max-width: 33.3%;
        flex: 0 0 33.3%;
    }
}
@media only screen and (max-width: 767px) {
    .community-group-column {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .col-md-9.community-group-widget,
    .col-md-3.manage_group_widget {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .community-group-widget .card,
    .col-md-3.manage_group_widget .card {
        padding: 0;
    }
}
