<div *ngIf="data?.type === 'confirm'" class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <p class="text-center confirm-message">{{data.text}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="confirm-button">
                <a class="mr-2" (click)="close(true)"> <button
                        class="btn btn-yes">{{language.button.yes}}</button>
                </a>
                <a (click)="close(false)"> <button class="btn btn-no">{{language.button.no}}</button> </a>
            </p>
        </div>
    </div>
</div>