<div class="setting-tools-option">
    <div class="card">
    <div class="theme-option">
        <label>Select Theme</label>
        <ul>
            <form #f="ngForm">
            <li><input class="red-theme" type="radio"  value="red_skin" (ngModelChange)="addClass($event)"[ngModel]="layout1" name="1"  ngModel /><label for="test1">Red theme</label></li>
            <li><input class="green-theme" type="radio"  value="green_skin" (ngModelChange)="addClass($event)"[ngModel]="layout2" name="1"  ngModel /><label for="test1">Green theme</label></li>
            <li><input class="blue-theme" type="radio"  value="blue_skin" (ngModelChange)="addClass($event)"[ngModel]="layout3" name="1"  ngModel /><label for="test1">Blue theme</label></li>
            <li><input class="yellow-theme" type="radio"  value="yellow_skin" (ngModelChange)="addClass($event)"[ngModel]="layout4" name="1"  ngModel /><label for="test1">Yellow theme</label></li>
            </form>
        </ul>
    </div>
    <div class="theme-option dark-mode">
        <label>Dark Theme</label>
        <ul>
            <form #f="ngForm">
            <li><input class="red-theme_d" type="radio"  value="red_skin_d" (ngModelChange)="addClass($event)"[ngModel]="layout5" name="1"  ngModel /><label for="test1">Red theme</label></li>
            <li><input class="green-theme_d" type="radio"  value="green_skin_d" (ngModelChange)="addClass($event)"[ngModel]="layout6" name="1"  ngModel /><label for="test1">Green theme</label></li>
            <li><input class="blue-theme_d" type="radio"  value="blue_skin_d" (ngModelChange)="addClass($event)"[ngModel]="layout7" name="1"  ngModel /><label for="test1">Blue theme</label></li>
            <li><input class="yellow-theme_d" type="radio"  value="yellow_skin_d" (ngModelChange)="addClass($event)"[ngModel]="layout8" name="1"  ngModel /><label for="test1">Yellow theme</label></li>
            </form>
        </ul>
    </div>
</div>
</div>