.survey-listing {
    margin-top: 25px;
}
.survey-items {
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.survey-dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span.survey-dates-inner {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #999999;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.survey-title h5 {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #414141;
}
span.survey-author-img {
    width: 38px;
    height: 38px;
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
}

 .survey-author-img img {
  max-width: none;
  width: 100%;
} 

/* .survey-author-img img {
  max-width: none;
} */
.survey-author {
    display: flex;
    align-items: center;
}
.survey-author span {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3C3B41;
}
.timeline-label span:first-child {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #BDBDBD;
}
.timeline-label span:last-child {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #999999;
}
.timeline-label {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.timeline {
    margin-bottom: 10px;
}
button.mat-menu-item {
    height: 34px;
    line-height: 0;
}
.mat-progress-bar {
    height: 13px;
    border-radius: 25px;
}
::ng-deep .mat-progress-bar-buffer {
    background-color: #e8e5ff;
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: #FBC52D !important;
}
@media only screen and (max-width: 576px) {
    .searchRefine {
        display: flex !important;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .searchRefine input,
    .searchRefine select {
        width: 50px !important;
        margin: 10px;
    }
    .searchRefine input {
        padding-left: 17px !important;
    }
    .pagintHeadRight.text-center {
        margin-top: 8px;
    }
}

@media only screen and (max-width: 360px) {
    .paginationHead.full_width {
        padding: 0px;
    }
}
