.app-page-content{
    background-color: #EFF2FD;
    padding: 15px;
}

.survey-tabs button {
    margin-right: 0 !important;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    border: none;
    color: #353535;
    font-family: 'Gellix', sans-serif;
    padding: 6px 26px;
    background: #fff;
    position: relative;
}
/* .survey-tabs button::after {
    width: 1px;
    height: 19px;
    background: #ccc;
    display: inline-block;
    content: "";
    position: absolute;
    top: 6px;
    right: -11px;
}
.survey-tabs button::after:nth-child(2) {
    width: 0px;
} */

.survey-tabs button.active {
    background: linear-gradient(90deg, rgba(233,54,8,1) 0%, rgba(231,96,61,1) 100%);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 20px;
    font-weight: 500;
}

.survey-tabs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.survey-area {
    padding: 5px;
    background: #fff;
    border-radius: 20px;
}


.survey-tabs button {
    margin-right: 15px;
}
.page-action-right button {
    box-shadow: none;
    height: 44px;
    border-radius: 10px;
    border: none;
    padding: 0 25px 0 15px;
    font-weight: 600;
    font-family: 'Gellix', sans-serif;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff !important;
}

.page-action-right button {
    margin-right: 0px;
    background: rgb(88,191,56);
}

.page-action-right button svg {
    margin-right: 5px;
}

.page-action-right {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: flex-end;
}

@media (max-width:767px) {

    .event-time,
    .event-title span {
        font-size: 14px;
    }

    .course-price span:first-child {
        margin-right: 5px;
        padding-right: 5px;
    }

    .app_widget_sc {
        overflow-x: hidden;
        max-height: inherit;
        overflow-y: auto;
        min-height: inherit;
    }

    .course-details-content h3 {
        font-size: 20px;
    }

    .modal-dialog .course-price {
        width: 40%;
        justify-content: flex-end;
    }

    .page-heading {
        width: 54% !important;
    }

    .page-action-right {
        width: 46%;
    }

    .page-action-right button {
        margin-right: 0px !important;
    }

    .main-card .card {
        padding: 0;
        background-color: transparent;
    }

    .category-listing {
        background: #fff;
        margin-bottom: 15px;
        border-radius: 15px;
    }

    .page-heading {
        display: flex;
    }

    .page-action {
        flex-flow: row nowrap !important;
        display: flex;
        margin-bottom: 15px;
        justify-content: right;
    }
}
