.task-listing {
    margin-top: 15px;
}

.task-item {
    padding: 15px;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 32px;
    margin-top: 20px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.survey-dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.survey-dates-inner svg path {
    fill: #999;
}

::ng-deep .task-description p span {
  font-size: 12px;
  color: #8E8E93;
  line-height: 20px;
  font-weight: 500;
}

.profile_details .author-img {
  width: 30px;
  height: 30px;
  
  background: #f9f9f9;
}

.card-body.top-box {
  margin-bottom: 9px;
}

span.survey-dates-inner {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #999;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.profile_details .row {
    margin: 0px;
    padding: 5px;
}

.survey-dates .mat-button {
   padding: 0px !important;
}

::ng-deep .task-details .card {
  background: none !important;
}

.task-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-title{
    display: flex;
    justify-content: space-between;
}

.sub-title h5 {
   font-size: 16px;
  font-weight: 600;
  color: rgba(53, 53, 53, 0.9);
  text-transform: capitalize;
}

.group_detail_content p {
  font-size: 12px;
  color: #8E8E93;
  line-height: 21px;
}


.card-body > div {
  padding: 0 !important;
}
.card-body > div > div {
  padding: 0 !important;
}

.news-date {
  font-size: 12px;
  color: #8E8E93;
  margin-bottom: 8px;
  display: inline-block;
}

.task-title h5 {
    margin-bottom: 20px !important;
    display: inline-block;
}

.task-title h5 {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #414141;
    margin-bottom: 5px;
    margin-top: 12px;
}

.task-title p {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #9eacc1;
}

.timeline-label span {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #999999;
}

.timeline-label {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.timeline-label span:last-child {
    display: flex;
    align-items: center;
    color: #999999;
    font-size: 13px;
    font-weight: 600;
}

.timeline {
    margin-bottom: 10px;
}

span.survey-author-img {
    width: 38px;
    height: 38px;
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
    border-radius: 100%;
}

span.survey-author-img img {
  width: auto;
  height: 100%;
  max-width: none;
}

.task-item .task-detail-profile img {
  width: 100%;
}

.survey-author {
    display: flex;
    align-items: center;
}

.survey-author span {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3C3B41;
}

.survey-author span.created-lable {
  width: 100%;
  display: inline-block;
  color: #8E8E93;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
}

.survey-author span.user-lable{
    color: #414141;

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1px; 
}

.survey-author {
    border-top: 1px solid #8E8E93;
    padding-top: 7px;
}

.mat-progress-bar {
    height: 13px;
    border-radius: 25px;
}

.subtask-box{
    width: 100%;
    border-radius: 14px;
    background: #FFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    display: inline-block;
    padding: 15px;
}

.subtask-box .sub-title input[type="checkbox"] {
    opacity: 0 !important;
}

.subtask-box .sub-title input[type="checkbox"] + h5:before {
  border-radius: 12px;
  border: 1px solid #DC5A5C;
  width: 22px;
  height: 22px;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: -1px;
}

.subtask-box .sub-title input[type="checkbox"]:checked + h5:before {
    background: url(../../../../../assets/img/checkbox.png) no-repeat 0 0;
    width: 22px;
    height: 22px;
    border:none;

}

.sub-task-item-list > div:last-child .sub-title h5 {
  margin-bottom: 0;
}

.subtask-box .sub-title h5 {
   position: relative;
  color: #999;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: auto;
  margin-bottom: 9px;
padding-bottom: 12px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #F4F2F2;
  padding-top: 4px;
}

 body .card {
    margin-bottom: 2px;
  }


::ng-deep .mat-progress-bar-buffer {
    background-color: #e8e5ff;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #fbc52d
}

.card-body.top-box .widget-appointment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 6px;
    border: none;
}

.card-body.top-box.ng-star-inserted .widget-app-content span {
    white-space: nowrap;
    margin-left: 32px;
    font-size: 14px;
    color: #999;
}

.widget-appointment {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #eaedf5;
}

@media only screen and (max-width: 1260px) and (min-width: 1025px) {
    .widget-app-content {
        display: inline-block;
        justify-content: space-between;
        margin-bottom: 19px;
        align-items: center;
    }

    .app-right-content {
        float: right;
    }
}

@media only screen and (max-width: 1024px) {
    .col-md-12.add_event_content.event_detail_main .col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    ::ng-deep .widget-app-content {
        padding: 12px 0px !important;
    }
}

@media only screen and (max-width: 767px) {
    .col-md-6.all_participants .card-body {
        padding: 0;
    }

    .widget-app-content {
        display: flex;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .all_participants .user-content {
        padding-top: 6px;
        color: #192838;
        width: 230px;
    }

    .card-body {
        padding: 0;
    }

    .widget-app-content {
        display: inline-block;
        width: 100%;
    }

    .app-right-content {
        float: right;
    }

    .parti_name {
        float: left;
    }
}

.widget-app-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body.top-box .widget-app-content {
    padding: 0 !important;
}

.card-body.top-box .widget-app-content {
    display: flex;

    gap: 0px !important;
    width: 100px;
    justify-content: flex-start;
}

.card-body.top-box .widget-app-content>div:first-child+div {
    position: relative;

    display: block;
}

.card-body.top-box .widget-app-content>div:first-child {
    display: block;
}

.card-body.top-box .widget-app-content>div:first-child+div+div {
    position: relative;

    display: block;
}

.card-body.top-box .widget-app-content>div {
    display: none;
    width: 16px;
}

.card-body.top-box.ng-star-inserted .widget-app-content span {
    white-space: nowrap;
    margin-left: 32px;
    font-size: 14px;
    color: #999;
}

@media (max-width:767px) {
    .widget-app-content {
        justify-content: left;
    }

    .app-left-content {
        flex-wrap: wrap;
    }

    .card .card-header {
        padding: 15px 0;
        border: 0;
    }

    .col-md-6.all_participants .card-body {
        max-height: inherit;
        min-height: inherit;
        height: auto;
    }

    .page-heading {
        margin-bottom: 23px;
        margin-top: 0;
        padding-top: 25px;
    }

    .event-title {
        display: inline-block;
    }

    .event-time,
    .event-title span {
        font-size: 14px;
        display: flex;
        flex-wrap: nowrap;
        font-size: 11px;
        align-items: center;
        gap: 5px;
        color: #999;
    }

    ::ng-deep body .parti_name {
        width: 40px !important;
        height: 40px !important;
    }

    .page-action-right button svg path {
        fill: #fff !important;
    }

    .author-des {
        line-height: 17px;
        text-align: left;
        margin-bottom: 15px;
        padding-top: 11px;
    }
}

.btn-yellow {
    background: #FCCB5E;
    border: none;
    padding: 5px 25px;
    border-radius: 22px;
    font-weight: 700;
    color: #fff;
    font-size: 12px;
}

.task-category span {
    font-size: 9px;
    font-weight: 700;
    background: #FBC52D;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    color: #fff;
}

.task-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}