<mat-nav-list>
    <div class="create-navigation">
        <div class="create-title">{{language.actionTool.addItems}}</div>
        <ul>
            <li *ngIf="createAccess.message == 'Yes'"><a (click)="openLink($event)" mat-button
                    routerLink="/create-message"><svg  xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#B1BCE0" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                        <path
                            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                        <polyline  points="22,6 12,13 2,6"></polyline>
                    </svg><br>{{language.header.messages}}</a>
            </li>
            <li *ngIf="createAccess.task == 'Yes'"><a (click)="openLink($event)" mat-button
                    routerLink="/create-chat"><svg  xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="#B1BCE0" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square">
                        <path  d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z">
                        </path>
                    </svg><br>{{language.header.chat}}</a>
            </li>
            <li *ngIf="createAccess.news == 'Yes'"><a (click)="openLink($event)" routerLink="/create-news"><svg
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="#B1BCE0" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-edit">
                        <path  d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                        </path>
                        <path  d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                    </svg><br>{{language.header.news}}</a>
            </li>
            <li *ngIf="createAccess.event == 'Yes'"><a (click)="openLink($event)" routerLink="/create-event"><svg
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="#B1BCE0" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-calendar">
                        <rect  x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                        <line  x1="16" y1="2" x2="16" y2="6"></line>
                        <line  x1="8" y1="2" x2="8" y2="6"></line>
                        <line  x1="3" y1="10" x2="21" y2="10"></line>
                    </svg><br>{{language.header.event}}</a>
            </li>
            <li *ngIf="createAccess.task == 'Yes'"><a (click)="openLink($event)" routerLink="/create-task"><svg
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="#B1BCE0" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-check-square">
                        <polyline  points="9 11 12 14 22 4"></polyline>
                        <path  d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11">
                        </path>
                    </svg><br>{{language.header.task}}</a>
            </li>
            <li *ngIf="createAccess.group == 'Yes'"><a (click)="openLink($event)" routerLink="/create-group"><svg
                         xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="#B1BCE0" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-users">
                        <path  d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle  cx="9" cy="7" r="4"></circle>
                        <path  d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path  d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg><br>{{language.header.group}}</a>
            </li>
            <li *ngIf="createAccess.email == 'Yes'"><a (click)="openLink($event)"
                    routerLink="/create-email-template"><svg  xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#B1BCE0" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                        <path
                            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                        <polyline  points="22,6 12,13 2,6"></polyline>
                    </svg><br>{{language.email.email_template}}</a>
            </li>
            <li *ngIf="createAccess.contact_admin == 'Yes'"><a (click)="openLink($event)"
                    routerLink="/contact-admin"><svg  xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24" fill="none" stroke="#B1BCE0" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                        <path
                            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                        <polyline  points="22,6 12,13 2,6"></polyline>
                    </svg><br>{{language.header.contact_admin}}</a>
            </li>
        </ul>
    </div>
</mat-nav-list>
