<div class="card-body ">
    <!-- <div class="alert alert-danger" *ngIf="responseMessage">{{responseMessage}}</div> -->
    <div class="document-inner list_document">

        <div>
            <ul>
                <li (click)="fileFilter('all')" [ngClass]="active_class == 'all'? 'activeClass' : ''"> <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 13.9062C0 14.1963 0.11677 14.4745 0.324623 14.6796C0.532476 14.8848 0.814385 15 1.10833 15H17.8917C18.1856 15 18.4675 14.8848 18.6754 14.6796C18.8832 14.4745 19 14.1963 19 13.9062V5.625H0V13.9062ZM19 2.34375C19 2.05367 18.8832 1.77547 18.6754 1.57035C18.4675 1.36523 18.1856 1.25 17.8917 1.25H7.79158L5.89158 0H1.10833C0.814385 0 0.532476 0.115234 0.324623 0.320352C0.11677 0.52547 0 0.803669 0 1.09375V4.375H19V2.34375Z" fill="#E83508"/>
                    </svg>
                   {{language.club_document.all}}
                </li>
                <li (click)="fileFilter('doc')" [ngClass]="active_class == 'doc'? 'activeClass' : ''"><svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 13.9062C0 14.1963 0.11677 14.4745 0.324623 14.6796C0.532476 14.8848 0.814385 15 1.10833 15H17.8917C18.1856 15 18.4675 14.8848 18.6754 14.6796C18.8832 14.4745 19 14.1963 19 13.9062V5.625H0V13.9062ZM19 2.34375C19 2.05367 18.8832 1.77547 18.6754 1.57035C18.4675 1.36523 18.1856 1.25 17.8917 1.25H7.79158L5.89158 0H1.10833C0.814385 0 0.532476 0.115234 0.324623 0.320352C0.11677 0.52547 0 0.803669 0 1.09375V4.375H19V2.34375Z" fill="#E83508"/>
                    </svg>
                    {{language.club_document.documents}}
                </li>
                <li (click)="fileFilter('tab')" [ngClass]="active_class == 'tab'? 'activeClass' : ''"><svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 13.9062C0 14.1963 0.11677 14.4745 0.324623 14.6796C0.532476 14.8848 0.814385 15 1.10833 15H17.8917C18.1856 15 18.4675 14.8848 18.6754 14.6796C18.8832 14.4745 19 14.1963 19 13.9062V5.625H0V13.9062ZM19 2.34375C19 2.05367 18.8832 1.77547 18.6754 1.57035C18.4675 1.36523 18.1856 1.25 17.8917 1.25H7.79158L5.89158 0H1.10833C0.814385 0 0.532476 0.115234 0.324623 0.320352C0.11677 0.52547 0 0.803669 0 1.09375V4.375H19V2.34375Z" fill="#E83508"/>
                    </svg>
                    {{language.club_document.tables}}
                </li>
                <li (click)="fileFilter('pic')" [ngClass]="active_class == 'pic'? 'activeClass' : ''"><svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 13.9062C0 14.1963 0.11677 14.4745 0.324623 14.6796C0.532476 14.8848 0.814385 15 1.10833 15H17.8917C18.1856 15 18.4675 14.8848 18.6754 14.6796C18.8832 14.4745 19 14.1963 19 13.9062V5.625H0V13.9062ZM19 2.34375C19 2.05367 18.8832 1.77547 18.6754 1.57035C18.4675 1.36523 18.1856 1.25 17.8917 1.25H7.79158L5.89158 0H1.10833C0.814385 0 0.532476 0.115234 0.324623 0.320352C0.11677 0.52547 0 0.803669 0 1.09375V4.375H19V2.34375Z" fill="#E83508"/>
                    </svg>
                    {{language.club_document.pictures}}
                </li>
            </ul>
        </div>
        <div class="document-main" [ngClass]=" selected_view == 1 ? 'list_view' : 'grid_view'">
             <div class="document-item" *ngFor="let doc of final_archivedData; let i = index">
                <div class="doc_box toggle-main">
                    <a (click)="download(doc.doc_name)"> <img onContextMenu="return false;" [src]="extArr[i]? docExt[i] :'../../../../assets/img/new-design/club-logo.png'" alt="" loading="lazy"></a>
                    <a (click)="download(doc.doc_name)"> <span class="docu_name">{{doc.doc_name.split('/')[2]}}</span> </a>
                    <!-- <a (click)="download(doc.doc_name)"> <span class="docu_name">{{fileNameArr[i]}}</span></a> -->
                    <nav class="navbar navbar-absolute fixed-top">
                        <div class="collapse navbar-collapse justify-content-end" id="navigation">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown add_dropdown document_dd">
                                    <a class="nav-link dropdown-toggle toggle_btn" aria-haspopup="true"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right add-action">
                                        <ul>
                                            <li *ngIf="optionVisibility">
                                                <a href="javascript:;" (click)="moveDoc(doc.id, 'personal')">
                                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                    {{language.move_document.move_this_file_to}}
                                                    {{language.club_document.my_documents}}
                                                </a>
                                            </li>
                                            <li *ngIf="optionVisibility">
                                                <a href="javascript:;" (click)="moveDoc(doc.id, 'current-statuses')">
                                                    <i class="fa fa-certificate" aria-hidden="true"></i>
                                                    
                                                    <!-- {{language.club_document.current_status}} -->
                                                    <span *ngIf="headline_word_option == 0">{{language.move_document.move_this_file_to}} {{language.club_document.current_status_stand}}</span>
                                                    <span *ngIf="headline_word_option == 1">{{language.move_document.move_this_file_to}} {{language.club_document.current_status_untern}}</span>
                                                </a>
                                            </li>
                                            <li *ngIf="optionVisibility">
                                                <a href="javascript:;" (click)="moveDoc(doc.id, 'club')">
                                                    <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                                                    
                                                    <!-- {{language.club_document.club_documents}} -->
                                                    <span *ngIf="headline_word_option == 0">{{language.move_document.move_this_file_to}} {{language.club_document.club_documents_stand}}</span>
                                                    <span *ngIf="headline_word_option == 1">{{language.move_document.move_this_file_to}} {{language.club_document.club_documents_untern}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" (click)="download(doc.doc_name)">
                                                    <i class="fa fa-download" aria-hidden="true"></i>
                                                    {{language.move_document.download_this_file}}
                                                </a>
                                            </li>
                                            <li *ngIf="(userData.id == doc.created_by || userData.isAdmin) && optionVisibility">
                                                <a href="javascript:;" (click)="deleteDoc(doc.id, i)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    {{language.move_document.remove_this_file}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
           </div>
        <div *ngIf="final_archivedData">
            <div class="col-lg-12 col-md-12 col-sm-12 empty-data-image" *ngIf="final_archivedData.length == 0">
                <!-- <img onContextMenu="return false;" src="assets/img/no-event-img.png" alt="{{language.club_document.no_documents}}" loading="lazy"><br> -->
                <span>{{language.club_document.no_documents}}</span>
            </div>
        </div>
    </div>
</div>
<div *ngIf="dowloading">
    <div class="overlay download-overlay">
        <div class="overlay__inner">
            <div class="overlay__content">
                <div class="loading" data-loading-text="Downloading..."></div>
            </div>
        </div>
    </div>
</div>
