.document-main{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}
.document-item{
    max-width: 24.5%;
    flex: 0 0 24.5%;
    position: relative;
}
.card-body{
    padding: 0;
}
.document-inner.list_document .doc_box.toggle-main a:nth-child(2) {
    width: 60%;
}

/* start grid list doc-css 26-06-2023 */

.document-item{
    max-width: 24%;
    flex: 0 0 24%;
    position: relative;
}

  .grid-list {
    position: absolute;
    top: 40px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

   ::ng-deep .filter-events .mat-form-field-infix {
    display: flex;
  }

  ::ng-deep .filter-events  select.mat-input-element {
    padding-top: 0;
    top: 0;
    margin-bottom: 0;

  }

    ::ng-deep  .mat-form-field-type-mat-native-select.mat-form-field-appearance-fill .mat-form-field-infix::after {
  margin-top: -6px !important;
}

  ::ng-deep .filter-events .mat-form-field-infix .mat-form-field-label-wrapper {
  order: -1;
  width: auto;
  display: none;
}





  ::ng-deep .filter-events .mat-form-field-infix {
     border:none;
  }

    ::ng-deep .filter-events  .mat-form-field-label-wrapper {
    position: static !important;
  }

  ::ng-deep .grid-list .filter-events .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

   ::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
    display: none !important;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-ripple {
    display: none;
  }

  .grid-list .btn.btn-danger {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}
.grid-list .btn.btn-danger svg {
  width: 30px;
  height: 30px;
}

.grid-list .btn.btn-danger.active svg rect:first-child {
   fill: #FFBE00;
}

.grid-list .btn.btn-danger svg rect:first-child {
  fill: #d7d7d7;
}

.document-inner.list_document > div > ul {
  padding: 0px;
  display: flex;
  gap:25px;
  margin-bottom: 35px;
}

.document-main.list_view > div {
  width: 100%;
  display: inline-block;
  max-width: 100%;
  flex: 0 0 100%;
}

.document-main.list_view > div .doc_box.toggle-main {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}



.document-inner.list_document > div > ul li {

list-style: none;
font-size: 18px;
display: flex;
align-items: center;
gap: 15px;
padding: 10px 15px;
background: #f1f1f1;
border-radius: 7px;
cursor: pointer;
}

.document-inner.list_document > div > ul li.activeClass{
  background: #ffbe00;
  color: #fff;
}

.document-inner.list_document > div > ul li.activeClass svg path {
   fill:#fff;
}




/* end grid list doc-css 26-06-2023 */

@media only screen and (max-width:1024px){
    .document-inner.list_document .doc_box.toggle-main a:first-child {
        width: 75px !important;
        height: 75px !important;
        overflow: hidden;
    }
    .document-item{
        max-width: 48.5%;
        flex: 0 0 48.5%;
        position: relative;
    }
    .navbar.navbar-absolute {
        display: block;
    }
    .document-item {
        background: #fff;
    }
    .document-inner.list_document .doc_box.toggle-main .navbar a {
        width: auto !important;
        height: auto !important;
        overflow: hidden;
    }
}
@media only screen and (max-width:767px){
    .document-item{
        max-width: 100%;
        flex: 0 0 100%;
        position: relative;
    }
}


.loading {
    left: 50%;
    top: 50%;
    font-size: 36px;
    font-family: 'Gellix', sans-serif;
    font-weight: bold;
    letter-spacing: 4.4px;
    text-transform: capitalize;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -60%);
  }
  .loading:before {
    color: rgb(24, 17, 17);
    content: attr(data-loading-text);
  }
  .loading:after {
    top: 0;
    left: 0;
    width: 0;
    opacity: 1;
    color: #444;
    overflow: hidden;
    position: absolute;
    content: attr(data-loading-text);
    -webkit-animation: loading 7s infinite;
            animation: loading 5s infinite;
  }

  @media(max-width:767px) {
  ::ng-deep .document-inner.list_document > div > ul {
        overflow: auto;
    }
}

  @-webkit-keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
