<div class="content add_content_main">
    <div class="page-action">
        <div class="page-heading">
            <!-- <h1>{{language.club_wall.club_events}}</h1> -->
        </div>
    </div>
    <div class="panel">
        <div class="panel-inner">
            <div class="mat-elevation-z8" *ngIf="isData == true">
                <!-- search heading of list start -->
                <div class="list-search-panel mt-10">
                    <div class="search-list">
                        <mat-form-field>
                            <mat-label>{{language.header.search}}</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="{{language.header.search}}" autocomplete="off" #input (keyup)="getUserAllEvents($event)">
                        </mat-form-field>
                    </div>
                </div>
                <!-- search heading of list end -->

                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="table table-bordered" data-plugin="floatThead">
                    <!-- Position Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{language.create_news.title_label}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                            {{row.name }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{language.create_event.description}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                            <p [innerHTML]="(row.description.length > 0 )? (row.description| slice:0:100)+'...':(row.description)"> </p>
                        </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="author">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{language.dashboard.dashboardNewsAuthor}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                            {{userData.firstName }}
                        </td>
                    </ng-container> -->

                    <ng-container matColumnDef="picture_video">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{language.banner.image}}
                        </th>
                        <td class="odd" mat-cell *matCellDef="let row">
                            <!-- <img src="{{row.picture_video}}" width="60px" height="60px" /> -->
                            <img [src]="row?.event_images[0]?.event_image ? row?.event_images[0]?.event_image: '../../../assets/img/no_image.png'"
                            alt="" width="60px" height="60px" />
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="View">
                        <th  mat-header-cell *matHeaderCellDef>
                            <!-- {{language.header.view}} -->
                        </th>
                        <td class="odd table_action view" mat-cell *matCellDef="let row">
                            <!-- <button class="btn btn-outline-secondary" routerLink="/web/event-detail/{{row.id}}">{{language.header.view}}</button> -->
                            <a>
                                <i class="fa fa-eye" aria-hidden="true"  routerLink="/web/event-detail/{{row.id}}"></i>
                            </a>&nbsp;&nbsp;
                            <a>
                                <i class="fa fa-pencil"  routerLink="/web/update-event/{{ row.id}}"></i>
                            </a>&nbsp;&nbsp;
                            <a>
                                <i class="fa fa-trash" aria-hidden="true" (click)="deleteEvents(row.id)"></i>
                            </a>&nbsp;
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">{{language.club_events.no_events}}</td>
                    </tr>
                </table>
                <mat-paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" showFirstLastButtons
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
