/* tabs css start */

.scroll-navigation {
    width: 80%;
    margin: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
}

.scroll-navigation::-webkit-scrollbar {
    display: none;
}

.scroll-navigation .tabs__items {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
    padding: 0;
    list-style-type: none;
}

.scroll-navigation .tabs__items li {
    flex-grow: 1;
    flex-shrink: 0;
    transition: 0.15s box-shadow ease-in-out;
}

.scroll-navigation .tabs__items li:last-of-type {
    border: none;
}

.scroll-navigation .tabs__items li a {
    display: block;
    padding: 7px 20px;
    color: #90a2c3;
    cursor: pointer;
    border-radius: 25px;
    font-size: 13px;
    font-family: "Gellix", sans-serif;
    font-weight: 600;
    margin-right: 18px;
    background: linear-gradient(180deg, #f4f4f4 0%, #f8f8f8 100%);
    box-shadow: 0px 2px 4px 1px #e2e6ec, inset 0px 1px 1px #ffffff;
}

.mobile-nav ul li a:hover {
    background: rgb(202 210 235 / 30%);
}

.tabs-content-listing {
    margin-bottom: 100px;
}

.card-toggle button {
    padding: 0;
    border: none;
    background: transparent;
    margin-right: 10px;
}

nav.scroll-navigation {
    display: flex;
    align-items: center;
}

.profile-area-mobile+.tabs-content-section .card-toggle {
    display: none;
}

.profile-area-mobile.toggled+.tabs-content-section .card-toggle {
    display: block;
}

ul.tabs__items li a.active {
    background: linear-gradient(180deg, #5595fa 0%, #5398ff 100%) !important;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
    color: #fff !important;
}

@media screen and (max-width: 768px) {
    .scroll-navigation {
        width: 100%;
    }
}

/* tasks css start */

.task_list_title {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #555555;
}

.task-listing {
    margin-top: 15px;
}

.survey-dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-item {
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 32px;
    margin-top: 15px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.horizontal-tabs .mat-form-field-wrapper {
    padding-bottom: 9px;
}

.task-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.survey-dates-inner svg path {
    fill: #999;
}

span.survey-dates-inner {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #999;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

span.survey-author-img {
    width: 38px;
    height: 38px;
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
    border-radius: 100%;
}

span.survey-author-img img {
    width: 100%;
    transform: scale(2);
}

.survey-author {
    display: flex;
    align-items: center;
}

.horizontal-tabs {
    display: flex;
    margin-top: 25px;
    gap: 20px;
}

.horizontal-tabs>.mat-form-field {
    width: 47% !important;
    display: inline-block;
    flex: 0 0 47%;
}

::ng-deep .horizontal-tabs>.mat-form-field>div.mat-form-field-wrapper {
    padding-bottom: 9px;
}

.survey-author span {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #3C3B41;
    display: flex;
    align-items: center;
}

.survey-author {
    border-top: 1px solid #8E8E93;
    padding-top: 7px;
}

.task-title h5 {
    margin-bottom: 20px !important;
    display: inline-block;
}

.timeline-label span {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #999999;
}

.timeline-label {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.timeline-label span:last-child {
    display: flex;
    align-items: center;
    color: #999999;
    font-size: 13px;
    font-weight: 600;
}

.timeline {
    margin-bottom: 10px;
}

button.mat-menu-item {
    height: 34px;
    line-height: 0;
}

.mat-progress-bar {
    height: 13px;
    border-radius: 25px;
}

::ng-deep .mat-progress-bar-buffer {
    background-color: #e8e5ff;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #fbc52d
}

.task-category span {
    font-size: 9px;
    font-weight: 700;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    color: #fff;
}

.group-task-category {
    background: #FBC52D;
}

.individual-task-category {
    background: #E93608;
}

.task-title h5 {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #414141;
    margin-bottom: 5px;
    margin-top: 12px;
}

.task-title p {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #9eacc1;
}

.joined-user span:first-child {
    position: relative;
    z-index: 555;
}

.joined-user span img {
    width: 22px;
    height: 22px;
    position: relative;
    border-radius: 50%;
}

.joined-user span:nth-child(2) {
    position: relative;
    left: -4px;
    z-index: 444;
}

.joined-user span:nth-child(3) {
    position: relative;
    left: -8px;
    z-index: 333;
}

.joined-user span:nth-child(4) {
    position: relative;
    left: -16px;
    z-index: 222;
}

.joined-user span:nth-child(5) {
    position: relative;
    left: -22px;
    z-index: 111;
}

span.total-joiny {
    margin-left: -10px;
    font-size: 10px;
    font-weight: 600;
    color: #8c8c8c;
}

.club-widget-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.Join-btn span {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #8c8c8c;
}

span.created-lable {
    display: block;
    font-size: 11px !important;
    color: #8E8E93 !important;
}

::ng-deep .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane {
    margin-top: 45px;
    width: calc(100% - 40%)
        /* transform: translateX(0px) translateY(-0px) !important;  */
        /* width: calc(100% - 30px);
left: 15px !important;
*/

}

::ng-deep .mat-select-value-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
    font-size: 16px;
    font-weight: 700;
}

::ng-deep .mat-option-text {
    font-size: 14px !important;
    font-weight: 700;
    color: #999;
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple)::after {
    content: "";
    background: url(/assets/img/right-icon.svg) no-repeat 0 0;
    width: 19px;
    height: 13px;
    display: inline-block;
}

::ng-deep .mobile-green .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple)::after {
    content: "";
    background: url(/assets/img/right-icon-green.svg) no-repeat 0 0;
    width: 19px;
    height: 13px;
    display: inline-block;
}

::ng-deep body .mat-form-field-appearance-fill .mat-form-field-flex {
    background: none !important;
    padding: 0px !important;
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: #EAF0F6;
}

::ng-deep body .mat-form-field-infix {
    padding: 0 20px 0 35px !important;
    background: #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: none;
}

::ng-deep body .mat-form-field.mat-focused .mat-form-field-ripple {
    display: none !important;
}

::ng-deep body .mat-form-field-appearance-fill:not(.mat-form-field-disabled) .mat-form-field-flex:hover~.mat-form-field-underline .mat-form-field-ripple {
    opacity: 0 !important;
    display: none !important;
}

::ng-deep body .mat-select-value {
    white-space: nowrap;
    color: #999;
    font-size: 16px;
    font-weight: 700;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
    display: none !important;
}

::ng-deep .mat-select-panel {
    min-width: 100% !important;
    border-radius: 0 !important;
}

::ng-deep body .mat-form-field-appearance-fill .mat-form-field-label {
    top: 31px !important;
    left: 13px !important;
}




::ng-deep body .tabs-content-section .mat-select-arrow-wrapper {
    display: none !important;
}

::ng-deep body .all-widget .mat-form-field {
    float: right;
}

::ng-deep body .all-widget .mat-form-field .mat-form-field-wrapper {
    position: absolute;
    top: -60px;
    right: 0;
}

::ng-deep body .all-widget .mat-form-field .mat-form-field-wrapper .mat-form-field-infix {
    width: 181px;
}

::ng-deep body .tabs-content-section .mat-form-field {
    width: 100% !important;
}

::ng-deep body .tabs-content-section .mat-form-field .mat-form-field-flex {
    width: 100% !important;
}


::ng-deep body .all-widget .mat-select-arrow-wrapper {
    display: none !important;
}



@media (max-width: 767px) {
    .task-list-image {
        /* max-height: 250px; */
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: 15px;
        aspect-ratio: 4/3;
    }

    .task-list-image img {
        object-fit: cover;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .task-list-image {
        /* height: 210px; */
        display: flex;
        align-items: normal;
        justify-content: center;
        border: none;
        padding: 0px;
        aspect-ratio: 4/3;
    }

    .task-list-image img {
        width: 100%;
        height: auto;
        max-height: 100%;
    }
}

.page-action-right button {
    box-shadow: none;
    height: 44px;
    border-radius: 10px;
    border: none;
    padding: 0 25px 0 15px;
    font-weight: 600;
    font-family: "Gellix", sans-serif;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.page-action-right button {
    margin-right: 0px;
    background: rgb(88, 191, 56);
}

.page-action-right button svg {
    margin-right: 5px;
}

.page-action-right {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: flex-end;
}

@media (max-width: 767px) {

    .event-time,
    .event-title span {
        font-size: 14px;
    }

    .course-price span:first-child {
        margin-right: 5px;
        padding-right: 5px;
    }

    .app_widget_sc {
        overflow-x: hidden;
        max-height: inherit;
        overflow-y: auto;
        min-height: inherit;
    }

    .course-details-content h3 {
        font-size: 20px;
    }

    .modal-dialog .course-price {
        width: 40%;
        justify-content: flex-end;
    }

    .page-heading {
        width: 40% !important;
    }

    .page-action-right {
        width: 57%;
    }

    .page-action-right button {
        margin-right: 0px !important;
    }

    .main-card .card {
        padding: 0;
        background-color: transparent;
    }

    .category-listing {
        background: #fff;
        margin-bottom: 15px;
        border-radius: 15px;
    }

    .page-heading {
        display: flex;
    }

    /* .page-action {
        flex-flow: row nowrap !important;
        display: flex;
    } */
}
