<div class="group-card-wrapper">
  <div class="group-card vc-card-shadow">
    <div class="group-card__image">
      <img alt="group-image" src="../../../../assets/img/new-design/community/community-group.jpg">
    </div>
    <div class="group-card__content">
      <h3 class="group-card__title">
        Fussball - 1. Mannschaft
      </h3>
      <div class="group-card__description">
        <p class="vc-text-icon-prefix">
          <vc-icon iconName="users"></vc-icon>
          8.9K Mitglieder
        </p>
        <p class="vc-text-icon-prefix">
          <vc-icon iconName="message"></vc-icon>
          10 neue Beiträge
        </p>
      </div>
      <!--   card footer   -->
      <div class="group-card__footer d-flex justify-content-center mt-2">
        <vc-icon [showBorder]="true" boxSize="30px" cssClass="mr-1 cursor-pointer" iconName="team-remove"
                 size="25px"></vc-icon>
        <vc-icon [showBorder]="true" boxSize="30px" cssClass="mr-1 cursor-pointer" iconName="team"
                 size="25px"></vc-icon>
        <vc-icon [showBorder]="true" cssClass="mr-1 cursor-pointer" iconName="edit" size="20px"></vc-icon>
        <vc-icon [showBorder]="true" color="var(--vc-soft-red)" cssClass="cursor-pointer" iconName="delete"
                 size="20px"></vc-icon>
      </div>
    </div>
  </div>

</div>
