.panel_heading h3 {
    font-size: 20px;
    color: #424d5c;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 15px;

    margin-bottom: 20px;
}
.title-btn-group button {
    padding: 12px 20px;
    border: none;
    box-shadow: none;
    font-weight: bold;
}
.tasks_navigation a.nav-link {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 3px;
}
.main-card {
    display: inline-block;
    width: 100%;
    /* background-color: #fff;
    padding: 25px; */
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: transparent;
}
.tasks_navigation {
    padding: 0;
    margin-bottom: 30px;
    margin-top: 20px;
}
.main-card .card-body.club_all_news {
    padding: 0px;
}
button.dropdown-toggle {
    position: absolute;
    right: 0;
}
.dropdown.action_group button {
    border: none;
    font-size: 24px;
    border-radius: 5px !important;
    background: #e5e9f2;
    height: 32px;
    /* color: #fff; */
    box-shadow: 0px 1px 4px -1px #ccc;
}
.news-widget {
    background: #fff;
}
.category-action a:first-child {
    margin-right: 15px;
}
.category-content {
    padding-top: 5px;
}
.faq_edit .modal-header {
    justify-content: space-between;
}
.faq_edit .modal-header h3 {
    font-size: 20px;
    color: #424d5c;
    font-weight: normal;
    margin-bottom: 0 !important;
    margin-top: 0px;

    margin-bottom: 20px;
}
.faq_edit .modal-header button {
    background-color: transparent;
    border: none;
    font-size: 20px;
}
.faq_edit .modal-dialog {
    max-width: 750px;
}
.title-btn-group.right-btn-group button {
    margin-right: 0px !important;
}
.all_btn_group.btn_collapse .title-btn-group button:first-child {
    margin-right: 20px;
}
.author-info {
    align-items: center;
    margin-top: 10px;
}
.main-card h5.news-content-heading {
    margin-bottom: 0;
    text-transform: capitalize;
}
p.course-time {
    margin: 5px 0px;
}
.main-card .news-image {
    position: relative;
    height: 240px;
    overflow: hidden;
    cursor: pointer;
}
.main-card .news-widget .card-footer {
    background: #fff;
}
.title-btn-group.right-btn-group img {
    margin-right: 5px;
    margin-top: -2px;
}
.ins-courses h5 {
    margin-top: 0px;
    font-size: 20px;
    color: #414141;
    font-family: "Gellix", sans-serif !important;
    font-weight: 700;
}
.view-course-modal .modal-dialog {
    max-width: 950px;
}
.widget-app-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaedf5;
}
.avail_detail {
    position: absolute;
    top: 0px;
    left: 0px;
}
span.avail_count {
    margin-bottom: 0px;
    display: inline-block;
}
span.participant_status span.approved {
    background: #4fb96d;
}
span.participant_status span {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 25px;
    margin-right: 5px;
}
.ins-image.img-fluid img {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */
    /* height: 100%; */
    border-radius: 15px;
margin: 0 auto;
display: block;
text-align: center;
width: auto;
transform: scale(1.2);
max-width: none;
height: 100%;
}
.inst-bottom {
    margin-top: 20px;
}
.schedule h5 {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #1d202f;
    margin-bottom: 10px;
    font-weight: 900;

}
.schedule_list ul {
    padding: 0;
    margin-bottom: 10px;
}
.schedule {
    margin-bottom: 20px;
}
.schedule_list ul li {
    display: inline-block;
    padding: 5px 20px;
    background: green;
    color: #1d202f;
    font-weight: 500;
    width: 130px;
    text-align: center;
}
.schedule_list ul:nth-child(odd) li:first-child {
    background-color: #eaaa86 !important;
    color: #fff;
}
.schedule_list ul li:nth-child(even) {
    background-color: #ffefed;
}
.schedule_list ul li:nth-child(odd) {
    background-color: #e5e9f2;
}
.schedule_list ul:nth-child(even) li:first-child {
    background-color: #8c9cc3;
    color: #fff;
}
.course-details-content h3 {
    font-size: 24px;
    color: #414141;
    font-family: "Gellix", sans-serif;
    font-weight: 700;
}
.event_schedule {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.event_schedule {
    position: absolute;
    bottom: 0;
}
.event_date {
    display: flex;
}
.event_date_ven {
    background: #e12217;
    text-align: center;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 21px;
}
.event_date_ven span,
.event_day span,
.event_pricing span {
    font-size: 14px;
}
.event_date_ven {
    background: #e12217;
    text-align: center;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 21px;
}
.event_day {
    background: #fff;
    text-align: center;
    padding: 0px 10px;
}
.event_day {
    font-size: 30px;
    line-height: 21px;
}
.event_pricing {
    font-size: 30px;
    line-height: 18px;
    text-align: center;
    background: #fff;
    padding: 8px 10px 0 10px;
    margin-right: 0px;
}
.event_pricing span:first-child {
    font-size: 17px;

}
.course-action img {
    width: 20px !important;
    height: 20px !important;
    background: transparent !important;
}
.course-action {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 6;
}
/* .course-detail-image {
    position: relative;
} */

.course-detail-image .image-section {
    width: 100%;
    float: left;
}

.course-detail-image .overbar-section{
    width:auto;
    float: right;
}

.course-action a {
    background: #fff;
    padding: 5px;
    margin-right: 10px;
}
.dropdown.action_group button:after {
    border: transparent;
}
ul.bunch_drop.show {
    position: relative;
    min-width: 150px;
    left: 0;
    padding: 0;
    margin: 0;
    top: 37px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 4px -1px #ccc;
}
ul.bunch_drop.show li {
    list-style: none;
}
ul.bunch_drop.show {
    display: block;
}
ul.bunch_drop {
    display: none;
}
.card-footer.course_footer {
    max-height: 110px;
    overflow-y: scroll;
    min-height: 110px;
}

span.participant_status span.approved {
    background: #4fb96d;
}
span.participant_status span.pending {
    background: #fbc61a;
}
span.participant_status span.denied {
    background: #e12217;
}
span.participant_status span.cancelled {
    background: #e12217;
}

.parti_name {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background: #4fb96d;
    border-radius: 50%;
    margin-right: 15px;
}
.avail_badge {
    position: absolute;
    bottom: 5px;
    color: #677180;
    right: 5px;
    background: #e9ebf1;
    padding: 2px 8px;
    font-size: 11px;

    border-radius: 5px;
    cursor: pointer;
}
.news-image img {
    height: 100%;
    object-fit: none;
    width: 100%;
}
.news-image {
    display: block;
}
.jc_button.inner_btn {
    width: auto;
}
.join_status span {
    color: #4fb96d;
    font-size: 14px;

    margin-bottom: 10px;
    display: inline-block;
}
span.course-time i {
    font-size: 17px;
}
.jc_button button {
    width: 100%;
    padding: 10px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: #151728;
    border-radius: 3px;
    margin: 10px 0;
}

.location-box {
  margin-left: 0px;
}
span.participant_status {
    font-size: 12px;
    font-family: 'Gellix', sans-serif;
    display: inline-block;
    width: 100%;
}
.ins_img_inner {
    /* height: 500px;
    overflow: hidden;
    width: 100%;
    position: relative;
    background: #EAEDF5;
    border-radius: 15px; */
    border-radius: 15px;
    border:none;
    padding: 0px;
    background: #fff !important;

    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: center;
    max-height: none;
    aspect-ratio: 4/3;
}

.course-detail-image {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}
.course-details-content {
    display: inline-block;
    width: 100%;
    margin: 15px 0px;
}
.user-content {
    line-height: 16px;
    flex: 5;
}
.ins-courses {
    margin: 0px 0px 25px 0;
    display: inline-block;
    padding: 0;
    width: 100%;
}
.app-left-content {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Search Filter */
.search-filter-wrapper h3 {
    font-size: 20px;
    color: #424d5c;
    font-weight: normal;
    margin-top: 15px;

    margin-bottom: 20px;
}
.search-filter-wrapper .card-body {
    padding: 10px 10px 0px 10px !important;
}
.search-filter-wrapper .event_sub_btn {
    margin: 0 !important;
    display: flex;
    justify-content: flex-end;
}
.search-filter-wrapper .event_type {
    margin-bottom: 0;
}
.search-filter-wrapper .profile_sub_btn .Cancel_btn,
.search-filter-wrapper .profile_sub_btn .save_btn {
    padding: 6px 20px;
    margin-bottom: 10px;
}
.overimage-bar {
    width: 220px;
height: 100%;
background: #e93608;
display: inline-block;
position: absolute;
right: 0;
z-index: 0;
bottom: 0;
}
.overimage-bar ul {
    list-style: none;
    padding: 11px;
}
.overimage-bar ul li {
    color: #fff;
    text-align: left;
    margin: 0 0 15px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-family: "Gellix", sans-serif;
}

.overimage-bar .event-time img {
    width: 18px !important;
    height: 30px !important;
    margin: 0;
}

.overimage-bar .course-price img {
    width: 15px !important;
    height: 20px !important;
    margin: 0;
}
::ng-deep
    body
    .group_detail_img.news_image_container
    .overimage-bar
    li.duration
    img {
    width: 15px !important;
    height: 22px !important;
    display: inline-block;
}

::ng-deep body .course-price {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

::ng-deep body .course-price span {
    color: #fff !important;
    font-size: 15px !important;
    font-weight: 600 !important;
}

.group_detail_img.news_image_container .overimage-bar li div {
    font-size: 15px;
    color: #fff;
    font-weight: 500 !important;
}

::ng-deep .course-price span:first-child {
    margin-right: 0 !important;
    padding-right: 0 !important;
    border: none !important;
}
.overimage-bar li span.img-icon {
 width: 25px;
 float: left;
 padding: 0;
 text-align: center;
 display: flex;
 justify-content: center;
 margin-right: 8px !important;
}

.overimage-bar li span.img-icon svg {
    float: left;
}

::ng-deep body .event-content {
    margin-top: 25px;
}




/* Media Queries */

@media(min-width:1280px) and (max-width:1366px) {
    .widget-app-content {
        flex-wrap: wrap;
    }

    .app-right-content {

    margin-left: 65px;
    }
}

@media only screen and (max-width: 990px) and (max-width: 768px) {
    .main-card .news-image {
        height: 175px;
    }
}
@media only screen and (max-width: 990px) {

}
@media only screen and (max-width: 767px) {
    .col-md-6.instructor-multi-inner {
        margin-bottom: 15px;
    }
    .search-filter-wrapper .event_sub_btn {
        justify-content: flex-start !important;
    }

    .ins-image.img-fluid img {
        border-radius: 0;
    }
     .course-detail-image .image-section {
       height: 230px;
       overflow: hidden;
border-radius: 15px;
margin-bottom: 15px;
    }
}
@media only screen and (max-width: 600px) {
    .category-list {
        display: inline-block;
    }

    .widget-app-content { 
      flex-wrap: wrap;
    }
    .avail_detail {
        position: absolute;
        bottom: inherit;
        right: inherit;
        top: 0;
        left: 0;
    }
    .ins_img_inner {
        height: 100%;
        aspect-ratio: auto;
    }

    .ins-courses .app_widget_sc > div {
      width: 100%;
    }
    .app-left-content {
        display: flex;
        display: -webkit-flex;
        flex-wrap: inherit;
        width: 100%;
    }
}
.app_widget_sc {
    overflow-x: hidden;
    max-height: 140px;
    overflow-y: auto;
    min-height: 100px;
}
.search-filter-wrapper
    .news-dropdown
    .multiselect-dropdown
    div
    span.dropdown-btn {
    padding: 5px 15px !important;
    height: 45px !important;
    border-radius: 25px !important;
}
.multiselect-dropdown .dropdown-btn {
    line-height: 32px !important;
}
.news-dropdown
    .multiselect-dropdown
    div
    span.dropdown-btn
    span.dropdown-multiselect__caret {
    top: 16px !important;
}
.profile_sub_btn.event_sub_btn button {
    height: 43px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
    border: 1px solid #68759f;
    color: #68759f;
    background: #fff;
}
.profile_sub_btn.event_sub_btn button.save_btn {
    height: 43px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
    border: 1px solid #68759f;
    color: #fff;
    background-color: #68759f;
}
@media only screen and (min-width: 1261px) and (max-width: 1366px) {
    .author-info {
        display: flex;
    }
}

/* new design css start */

.tab-button button {
    height: 41px;
    border-radius: 10px;
    box-shadow: none;
    font-family: "Gellix", sans-serif;
    border: none !important;
    font-weight: 600;
    font-size: 14px;
    padding: 0 35px;
}
.tab-button {
    background: #fff;
    display: inline-block;
    padding: 3px;
    border-radius: 10px;
}
.page-action-right button {
    box-shadow: none;
    height: 44px;
    border-radius: 10px;
    border: none;
    padding: 0 25px 0 15px;
    font-weight: 600;
    font-family: "Gellix", sans-serif;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff !important;
}
.page-action-right button {
    margin-right: 15px;
    background: #1eb176 !important;
}
.page-action-right button:nth-child(2) {
    background: #fb5f5f !important;
}
.page-action-right button:last-child {
    margin-right: 0px;
}
.page-action-right button svg {
    margin-right: 5px;
}
.page-action-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
}
.page-action-right button {
    margin-bottom: 30px;
}
span.author-status,
span.deny-reason {
    font-weight: 600;
    font-family: "Gellix", sans-serif;
    color: #FFBE00;
}
span.deny-reason {
    color: #fb5f5f;
}
.author-des {
    line-height: 17px;
}
.page-action-left {
    width: 50%;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.page-heading h1 {
    font-size: 24px;
    font-family: "Gellix", sans-serif !important;
    font-weight: 700;
    color: #68759f;
    text-transform: uppercase;
    margin: 0;
    padding-left: 20px;
}
.page-heading {
    display: flex;
    align-items: center;
    width: 20%;
    margin-bottom: 30px;
}
.page-action {
    display: flex;
    flex-wrap: nowrap;
}
.page-action {
    margin-top: 25px;
}
.tab-button button span {
    position: relative;
    top: -2px;
}
.tasks_navigation a.nav-link {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: 0.6;
    min-width: auto;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
}
.tasks_navigation {
    padding: 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #eff2fd;
    margin-bottom: 0;
    margin-top: 0;
}
.tasks_navigation ul li a:first-child {
    padding-left: 0 !important;
}
.card.course-tabs-main {
    padding: 25px;
    border-radius: 20px;
    box-shadow: none;
    background: none;
}
.search-filter-wrapper .card {
    margin-bottom: 0;
    box-shadow: none;
    border: 1px solid #eff2fd;
}

.course-list-main .card {
    padding: 35px 25px;
    border-radius: 20px;
    max-width: 49.5%;
    flex: 49.5%;
    box-shadow: none;
}
.course-list-main {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
.course-content {
    background: #eff2fd;
    padding: 12px;
    border-radius: 10px;
    overflow-y: auto;
    height: 774px;
    overflow-x: hidden;
}
.course-image {
    width: 30%;
    min-height: 130px;
    max-height: 235px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
}
.course-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.course-item {
    display: flex;
    flex-flow: row nowrap;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.course-data {
    width: 67%;
}
span.instructor-badge {
    background: #ffffff;
    border: 1px solid #ff9331;
    border-radius: 20px;
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    color: #ff9331;
    padding: 7px 15px;
    height: 30px;
}
.course-category-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.course-price span:first-child {
    color: #a1a1a1;
    font-size: 14px;
    font-weight: 600;
    font-family: "Gellix", sans-serif;
    border-right: 1px solid;
}
.course-price span:last-child {
    font-size: 24px;
    font-weight: 600;
    color: #ff9331;
}
.course-price span {
    padding: 0 10px 0 0;
}

.overimage-bar .duration .img-icon img {
width: 21px;
height: 31px;
}
.course-price {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.course-data h5 {
    font-size: 19px;
    font-weight: 700;
    color: #414141;
    font-family: "Gellix", sans-serif;
    margin: 15px 0;
}
.course-duration,
.course-time {
    display: flex;
    font-size: 14px;
    font-family: 'Gellix', sans-serif;
    color: #95a0c6;
    font-weight: 600;
    align-items: center;
    margin-bottom: 15px;
}
.course-time span {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.course-time span:last-child {
    margin-right: 0;
}
.course-footer-left label {
    font-size: 12px;
    color: #9ea5bd;
    font-weight: 600;
    font-family: 'Gellix', sans-serif;
}
.instructor-list {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.instructor-detail {
    display: flex;
    flex-wrap: wrap;
}
.course-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.instructor-list span {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #68759f;
    margin-left: 5px;
}
.course-footer-right button {
    background: #ff9331;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-family: 'Gellix', sans-serif;
    height: 50px;
    padding: 0 58px;
    text-transform: uppercase;
}
.course-footer-right button.sold-btn {
    background: #ffead7;
    color: #ff9331;
    padding: 0 35px;
    width: 200px;
}
.instructor-image {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    overflow: hidden;
}
.course-footer-left {
    width: 70%;
}
.course-footer-right {
    width: 144px;
}
.custom-alert {
    margin: 0 auto;
}
.event-top-description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.overimage-bar .event-time,
.overimage-bar .event-title span {
    font-family: 'Gellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    color: #fff;
    display: flex;
    align-items: center;
}
.event-top-description svg {
    width: 15px;
}
.course-price {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.course-price span:first-child {
    margin-right: 5px;
    padding-right: 5px;
}
.course-price span:first-child {
    color: #a1a1a1;
    font-size: 16px;
    font-weight: 600;
    font-family: "Gellix", sans-serif;
    border-right: 1px solid;
    text-transform: uppercase;
}
.course-price span:last-child {
    font-size: 24px;
    font-weight: 600;
    color: #ff9331;
}

::ng-deep .ins-courses .app_widget_sc {
  display: flex;
  max-height: none;
  overflow: visible;
  flex-wrap: wrap;
  gap: 10px;
}

::ng-deep .ins-courses .app_widget_sc > div{
    width: 49%;
}

@media only screen and (max-width: 1260px) {
    .page-action {
        flex-flow: row wrap !important;
    }
    .page-heading {
        width: 100%;
    }
    .page-action-right {
        width: 46%;
    }
    .page-action-right {
        flex-wrap: nowrap;
    }
    .page-action-right button {
        line-height: 15px;
    }
    .page-action-left {
        width: 54%;
    }
    .tab-button button {
        padding: 0 25px;
    }
    .page-action-right button:first-child {
        margin-right: 10px;
    }
}

::ng-deep .mat-tab-header {
    margin-bottom: 30px;
}
::ng-deep .mat-tab-label-content {
    font-size: 17px;
    font-weight: 600;
    color: #c4cbe0;
    font-family: 'Gellix', sans-serif;
}
::ng-deep .mat-tab-label-active .mat-tab-label-content {
    color: #68759f;
}
::ng-deep .mat-ink-bar {
    display: none;
}
::ng-deep .mat-tab-header {
    border-bottom: 1px solid #eaedf5;
}
.event_detail_main .card {
    padding: 35px 25px;
    border-radius: 20px;
    box-shadow: none;
}
.page-action-right button.delete-btn {
    background: #fb5f5f !important;
}

::ng-deep .card .ins-courses .card-body {
  padding-left: 0 !important; 
}
@media only screen and (max-width: 1024px) {
    .course-list-main .card {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .course-data {
        width: 100%;
    }
    .course-list-main {
        flex-flow: row wrap;
        gap: 0;
    }
    .event_detail_main .card {
        padding: 0;
    }
}
@media only screen and (max-width: 767px) {
    .course-item {
        flex-flow: row wrap;
    }
    .course-image {
        width: 100%; 
    }
    .page-heading {
        margin-bottom: 0;
        margin-top: 25px;
    }
    .event_detail_main .card {
        padding: 0px;
    }
    .event_detail_main .card-body {
        padding: 0;
    }
    .page-action-right {
        margin-top: 15px;
    }

    .overimage-bar{
  width: 100%;
  height: 100%;
  background: #e93608;
  display: inline-block;
  position: static;
  right: 0;
  z-index: 0;
  bottom: 0;
  border-radius: 15px;
}

.course-detail-image{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.course-detail-image .overbar-section{
  width: 100%;
  float: right;
}

::ng-deep body .course-price .check-style {
    
    margin-left: 0px !important;
}

.task-heading{
    padding-left: 0px !important;
}
}

.task-heading {
    font-size: 24px;
    font-family: "Gellix", sans-serif;
    font-weight: 700;
    color: #68759f;
    text-transform: uppercase;
    margin: 0;
    padding-left: 20px;
}

.check-style {
    opacity: 1;
    margin-top: -11px !important;
    margin-left: 9px !important;
}
div#profileSpinner {
    left: 0;
    position: absolute;
    top: 0;
    background: #ffffffcf;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
span {
    margin-right: 2px;
}
