.panel_heading h3{
    font-size: 20px;
    color: #424D5C;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 15px;

    margin-bottom: 20px;
}
.add_event_content {
    margin-top: 0;
}
.card-body.p-20 {
    padding: 30px !important;
}
.col-md-12.news-dropdown.event_type {
    padding: 0;
}
.col-md-12.news-dropdown.event_type {
    margin-bottom: 15px;
}
span.course_des {
    /* padding: 20px; */
    display: inline-block;
    /* background: #e9ebf1; */
    width: 100%;
}
/* span.course_des ul {
    padding: 0;
    margin: 0;
} */
span.course_des li {
    list-style: none;
    margin-bottom: 10px;
}
.message_upload.create_upload_event span.message_upload_overlay img{
	padding: 0px 5px 0 0px;
	width: 22px;
}
.message_upload.create_upload_event span.message_upload_overlay {
	background: #E9EEFF;
    padding: 8px 15px;
    border-radius: 10px;
}
.message_upload.create_upload_event .upload_label span {
    width: inherit;
    display: inline;
}
.message_upload.create_upload_event .upload_label {
    color: #68759F;
}
.up_text {
    display: flex;
    align-items: center;
}

/* new design css start */
  .page-heading {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
    margin-top:25px
  }
  .add_event_content .card{
    padding: 62px 52px;
    border-radius: 20px;
  }
  .add_event_content .card-body{
    padding: 0 !important;
  }
  .weekdays-item {
    margin-top: 30px;
  }
  @media (max-width:1024px){
    .add_event_content .card{
        padding: 0px;
      }
      .profile_sub_btn.event_sub_btn {
        margin-top: 15px;
    }
  }
  @media (max-width:767px){
    .page-heading {
        padding-top: 25px;
    }
    .event_type {
        margin-bottom: 0;
    }
  }

  .loader_image {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #747e85;
    width: 45px;
    height: 45px;
    animation: spin_img 2s linear infinite;
    text-align: center;
    margin: 0;
    overflow: hidden;
    object-fit: contain;
    transform: translate(-50%, -50%);
    left: 44%;
    position: absolute;
    top: 39%;
}

/* Safari */
@-webkit-keyframes spin_img {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin_img {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
::ng-deep .room-booked {
    color: #fff !important;
    font-family: "Gellix", sans-serif;
    background: red !important;
    padding: 0px 5px;
    border-color: red !important;
}

::ng-deep .room-availability {
    color: #fff !important;
    font-family: "Gellix", sans-serif;
    background: green !important;
    padding: 0px 5px;
    border-color: green !important;
}
::ng-deep .exInstruct-booked {
    color: #fff !important;
    font-family: "Gellix", sans-serif;
    background: red !important;
    padding: 0px 5px;
    border-color: red !important;
  }

  ::ng-deep .exInstruct-availability {
    color: #fff !important;
    font-family: "Gellix", sans-serif;
    background: green !important;
    padding: 0px 5px;
    border-color: green !important;
  }

/* calender-css */

 ::ng-deep .calendar-box .fc-scroller-harness.fc-scroller-harness-liquid .fc-timegrid-slots tbody tr:nth-child(2n) {
  display: none !important;
}

::ng-deep .calendar-box .fc-scroller-harness.fc-scroller-harness-liquid .fc-timegrid-slots tbody tr td {
  height: 30px !important;
}


::ng-deep .calendar-box .fc .fc-scroller-harness, ::ng-deep  .fc-scroller.fc-scroller-liquid-absolute {
    overflow: auto;
}

/* ::ng-deep .fc-scrollgrid.fc-scrollgrid-liquid tbody tr:first-child .fc-scroller-harness .fc-scroller {
  overflow: hidden !important;
} */

.course_des_main span ul li {
  list-style: none;
  display: flex;
  gap: 10px;
font-size: 16px;
line-height: 32px;
color: #68759f;
}

.course_des_main span ul li strong {
  width: 129px;
}

.course_des ul {
  background: #e9eeff;
  padding: 15px;
  border-radius: 15px;
}

::ng-deep .fc .fc-view-harness-active > .fc-view {
 border-top-left-radius: 0px;
}

::ng-deep .fc-timegrid-event .fc-event-time {
  white-space: normal !important;
  color: #fff;
  font-size: 14px !important;

  line-height: 26px;
  margin-top: 15px;
}

::ng-deep .fc-toolbar-title {
    margin-left: 70px !important;
  }

@media(max-width:767px) {
       ::ng-deep .calendar-box .fc-scroller-harness.fc-scroller-harness-liquid .fc-timegrid-slots tbody tr td {
       height: 30px !important;
    }

 ::ng-deep h2.fc-toolbar-title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 60px;
  }

 ::ng-deep .fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: normal;
}
}
