.inst-add-btn {
    margin-top: 34px;
}
::ng-deep .event_upload .angular-editor-textarea {
    height: 150px !important;
}
.page-heading {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
    margin-top: 25px;
  }
.add_event_content .card{
    padding: 35px 25px;
    border-radius: 20px;
  }
  .add_event_content {
    margin-top: 0;
}
  @media (max-width:1024px){
    .add_event_content .card{
        padding: 0px;
      }
      .add_event_content .card-body{
        padding: 0 !important;
      }
  }
  .loader_image {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #747e85;
    width: 45px;
    height: 45px;
    animation: spin_img 2s linear infinite;
    text-align: center;
    margin: 0;
    overflow: hidden;
    object-fit: contain;
    transform: translate(-50%, -50%);
    left: 44%;
    position: absolute;
    top: 39%;
}

/* Safari */
@-webkit-keyframes spin_img {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin_img {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
