/* tabs css start */

.scroll-navigation {
    width: 80%;
    margin: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
}
.scroll-navigation::-webkit-scrollbar {
    display: none;
}
.scroll-navigation .tabs__items {
    display: flex;
    justify-content: space-between;
    margin: 0px 0;
    padding: 0;
    list-style-type: none;
}

::ng-deep .page-action-left {
    margin-bottom: 8px  !important;
}

.scroll-navigation .tabs__items li {
    flex-grow: 1;
    flex-shrink: 0;
    transition: 0.15s box-shadow ease-in-out;
}

.scroll-navigation .tabs__items li:last-of-type {
    border: none;
}
.scroll-navigation .tabs__items li a {
    display: block;
    padding: 6px 20px;
   color: #717171;
    cursor: pointer;
    border-radius: 25px;
    font-size: 13px;
    font-family: "Gellix", sans-serif;
    font-weight: 600;
    margin-right: 18px;
    border: 1px solid #EAEBEC;
}
.mobile-nav ul li a:hover {
    background: rgb(202 210 235 / 30%);
}

.tabs-content-listing {
    margin-bottom: 100px;
}

.card-toggle button {
    padding: 0;
    border: none;
    background: transparent;
    margin-right: 10px;
}

nav.scroll-navigation {
    display: flex;
    align-items: center;
}

.profile-area-mobile + .tabs-content-section .card-toggle {
    display: none;
}

.profile-area-mobile.toggled + .tabs-content-section .card-toggle {
    display: block;
}
ul.tabs__items li a.active {
    color: #fff !important;
}
@media screen and (max-width: 768px) {
    .scroll-navigation {
        width: 100%;
        justify-content: space-between;
    }
    .scroll-navigation .tabs__items li a {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-right: 0;
    }
    .scroll-navigation .tabs__items li{
        margin: 0 5px;
        width: 30%;
max-width: 126px;
    }
}

/* events css start */
/* new design css start */
.event_list_widget .card {
    border-radius: 20px;
}

.event_list_widget .card-body {
    padding: 35px 20px;
}




.event-content-area {

    padding: 0px;
    display: inline-block;
    width: 100%;
}

::ng-deep body .event_box {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.22)!important;
  margin-bottom: 20px;
  padding: 0px;
}

span.event_date {
    font-size: 17px;
    font-weight: 700;
    text-overflow: ellipsis;
overflow: hidden;
}
.event-summery {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 8px;
}

.event-summery span {
    padding: 0px 15px;
    font-weight: 600;
    color: #9ea5bd;
    font-size: 13px;
    font-family: "Gellix", sans-serif;
}
.event_box_right h6 a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    max-height: calc(2 * 2rem);
    -webkit-line-clamp: 2;  
}
span.event-cat {
    padding-left: 0 !important;
    border-right: 1.5px solid #d4d6df;
}

.img-content {
    width: 100%;
}

.event-time-line {
    border-left: 2px solid#FCDCDC;
    width: 76px;
    margin-right: 11px;
}

.event-with-image {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
}
.event-image-des {
    /* height: 150px; */
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 4/3;
}
.event-image-des img {
    width: 100%;
}
.img-content p {
    font-size: 13px;
    font-family: "Gellix", sans-serif;
    font-weight: 500;
    margin-top: 15px;
    color: #565656;
    line-height: 17px;
    text-align: justify;
}
.event-listing .event_list_title {
    padding: 0;
    background: transparent;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #555555;
    font-size: 18px;
    text-transform: capitalize;
}
.event-listing .event-box-inner {
    align-items: flex-start;
}
.event-listing .event_box_right h6 {
    margin-top: 3px;
    font-size: 13px;
    min-height: auto;
    width: 100%;
}
.event-listing span.event_month {
    padding-top: 0;
}

.event_box_left .images {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.event_box_left .images img {
max-width: 100%;
height: 100%;
transform: scale(1.8);
}

.event-summery .event_date {
  display: flex;
  padding: 0 !important;
  gap: 5px;
align-items: center;
}

.event-summery > span svg {
    width: 18px;
}

.event-summery > span svg path {
    fill:#999;
}

.event-summery > span > span {
    white-space: nowrap;
    font-size: 12px;
    color: #999;
}

.event-summery .event_date span {
    padding: 0px !important;
}

.event-bottom > span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #999;
  font-weight: 600;
}
.event-bottom {
  display: flex;
  gap: 20px;
}
.event-bottom > span svg {
  width: 18px;
}



.event_box .event-action {
   display: none;
}

.event_box_left {
  width: 122px;
  height: 100px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  background: #ccc;
  padding: 0px;
  overflow: hidden;
}
.event_box_right {
    line-height: 15px;
    width: 80%;
}
.event-action {
    width: 10%;
    text-align: right;
}
.event-action button img {
    width: 6px;
}
.event-listing {
    margin-top: 15px;
}

.page-action-right button {
    box-shadow: none;
    height: 44px;
    border-radius: 10px;
    border: none;
    padding: 0 25px 0 15px;
    font-weight: 600;
    font-family: "Gellix", sans-serif;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.page-action-right button {
    margin-right: 0px;
    background:none !important;
}

.page-action-right button svg path {
  fill: #41ba93;
}
.page-action-right button svg.feather.feather-calendar {
  stroke: #41ba93;
}

::ng-deep .mobile-red ul.tabs__items li a.active{
    background: linear-gradient(90deg, rgba(233,54,8,1) 0%, rgba(231,96,61,1) 100%) !important;
     border-color:#E93608 !important;
}

::ng-deep .mobile-green  ul.tabs__items li a.active{
    background: linear-gradient(90deg, rgb(32, 174, 128) 0%, rgba(32, 174, 128, 0.8) 100%) !important;
    border-color:#20AE80 !important;
}

.page-action-right button {
    color: #41ba93;
}

:ng-deep body .app-content-area  {
    padding: 0 15px !important;
}

.page-action-right button svg {
    margin-right: 5px;
}

.page-action-right {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: right;
}

::ng-deep .page-action-right {
  margin-bottom: 16px !important;
}

@media (max-width: 767px) {
    .event-time,
    .event-title span {
        font-size: 14px;
    }

    ::ng-deep body .page-heading {
        display: none !important;
    }

    .course-price span:first-child {
        margin-right: 5px;
        padding-right: 5px;
    }

    .app_widget_sc {
        overflow-x: hidden;
        max-height: inherit;
        overflow-y: auto;
        min-height: inherit;
    }

    .course-details-content h3 {
        font-size: 20px; 
    }

    .modal-dialog .course-price {
        width: 40%;
        justify-content: flex-end;
    }

    .page-heading {
        width: 40% !important;
    }
    .page-action-right button:last-child {
        margin-right: 0px !important;
    }
    .page-action-right button {
        margin-right: 5px !important;
    }

    .main-card .card {
        padding: 0;
        background-color: transparent;
    }

    .category-listing {
        background: #fff;
        margin-bottom: 15px;
        border-radius: 15px;
    }

    .page-heading {
        display: flex;
    }

    .page-action {
        flex-flow: row nowrap !important;
        display: flex;
    }

    .event-image-des {
        justify-content: center;
        display: flex;
        align-items: center;
        border: none;
        padding: 0px;
        object-fit: cover;
    }

    .event-image-des img {

        width: auto;
        height: auto;
    }
    .event_box_right h6 a {
        /* color: #332F30;
        font-weight: 600;
        font-size: 14px; */

        color: #332F30;
        font-family: Gellix;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        width: 100%;
    }
    .event-summery > span > span {
        color: #999;
        font-weight: 400;
    }
    .event-bottom > span {
        color: #999;
        font-weight: 400;
        color: #999;
      }
      .scroll-navigation .tabs__items {
        width: 100%;
      }
      .event_box_right {
       width: calc(100% - 122px);
        padding: 0 12px;
    }

    .event-bottom > div {
  display: flex;
  gap: 5px;
  max-width: 50%;
  align-items: center;
}
.event-bottom div span:last-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.event-bottom > div:first-child {
  max-width: 70%;
}





    

    
}
