<div class="cal-container">
    <div class="cal-container-left">
        <div></div>
        <div class="date-bar">
            <h2>{{todays_date | date: 'EEEE, d. MMMM'}}
                <a (click)="previousClick()" class="previous round"><span>&#8249;</span></a>
                <a (click)="nextClick()" class="next round"><span>&#8250;</span></a>
            </h2>
            <div class="filter-events" *ngIf="filterOpt">
                <mat-form-field appearance="fill">
                    <mat-label>{{language.courses.filter}}</mat-label>
                    <mat-select matNativeControl id="filter_events" [(value)]="selected" (selectionChange)="eventFilter($event.value)">
                        <mat-option value="0">{{language.create_event.showall}}</mat-option>
                        <mat-option *ngIf="headline_word_option == 0" value="1">{{language.create_event.club_event_stand}}</mat-option>
                        <mat-option *ngIf="headline_word_option == 1" value="1">{{language.create_event.club_event_untern}}</mat-option>
                        <mat-option value="2">{{language.create_event.group_event}}</mat-option>
                        <mat-option value="3">{{language.create_event.functionaries_event}}</mat-option>
                        <mat-option value="4">{{language.create_event.course_event}}</mat-option>
                        <mat-option value="5">{{language.create_event.seminar}}</mat-option>
                        <mat-option value="6">{{language.create_event.courses}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div  class="club-widget-main" *ngIf="currentEvent?.length > 0 && dateFilter == false">
            <div class="cal-list" *ngFor='let today of currentEvent'>
                <div class="cal-list-time">
                    <!-- <span class="cal-start-time">{{today.date_from | date: 'HH:mm':'UTC'}}</span>
                    <span class="cal-stop-time">{{today.date_to | date: 'HH:mm':'UTC'}}</span> -->
                    <span class="cal-start-time">{{today.date_from | date: 'HH:mm'}}</span>
                    <span class="cal-stop-time">{{today.date_to | date: 'HH:mm'}}</span>
                </div>
                <div class="cal-des">
                    <a (click)="viewDetails(today.id,todays_date,today.type)">
                        <span class="tag-green">{{eventTypeList[today.type].name}}</span>
                        <h3>{{today.name}}</h3>
                    </a>
                    <p [innerHTML]="(today.description.length > 0)? (today.description | slice:0:200)+'...':(today.description)"></p>
                </div>
            </div>
        </div>

        <div  class="club-widget-main" *ngIf="currentEventList?.length > 0 && this.dateFilter == true">
            <div class="cal-list" *ngFor='let today of currentEventList'>
                <div class="cal-list-time" >
                    <!-- <span class="cal-start-time">{{today.date_from | date: 'HH:mm':'UTC'}}</span>
                    <span class="cal-stop-time">{{today.date_to | date: 'HH:mm':'UTC'}}</span> -->
                    <span class="cal-start-time">{{today.date_from | date: 'HH:mm'}}</span>
                    <span class="cal-stop-time">{{today.date_to | date: 'HH:mm'}}</span>
                </div>
                <div class="cal-des">
                    <a (click)="viewDetails(today.id,todays_date,today.type)">
                        <span class="tag-green">{{eventTypeList[today.type].name}}</span>
                        <h3>{{today.name}}</h3>
                    </a>
                    <p [innerHTML]="(today.description.length > 0)? (today.description | slice:0:200)+'...':(today.description)"></p>
                </div>
            </div>
        </div>

        <div class="empty-data-image" *ngIf="currentEvent?.length == 0  && dateFilter == false">
            <img onContextMenu="return false;" src="assets/img/no-event-img.png" alt="{{language.club_events.no_events}}" loading="lazy"><br>
            <span>{{language.club_events.no_events}}</span>
        </div>
        <div class="empty-data-image" *ngIf="currentEventList?.length == 0 && this.dateFilter == true">
            <img onContextMenu="return false;" src="assets/img/no-event-img.png" alt="{{language.club_events.no_events}}" loading="lazy"><br>
            <span>{{language.club_events.no_events}}</span>
        </div>

    </div>
    <div class="cal-container-right">
        <div class="calender">
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selectedDate" (click)="onDateClick(selectedDate) "></mat-calendar>
            </mat-card>
        </div>
        <h2>{{ selectedDate | date: 'EEEE, d. MMMM'}}</h2>
        <div class="club-widget-main" *ngIf="clickedDateEvents?.length > 0">
            <div *ngFor="let item of clickedDateEvents">
                <div class="sidebar-event" >
                    <span class="sidbar-event-time">
                        <img src="../../../assets/img/calendar.png" onContextMenu="return false;" alt="calendar" loading="lazy"/>
                        {{item.date_from | date: 'HH:mm'}} - {{item.date_to | date: 'HH:mm'}}
                        <!-- {{item.date_from | date: 'HH:mm':'UTC'}} - {{item.date_to | date: 'HH:mm':'UTC'}} -->
                        <!-- {{item.start_time | date: 'HH:mm':'UTC'}} - {{item.end_time | date: 'HH:mm':'UTC'}} -->
                    </span>
                    <a (click)="viewDetails(item.id,selectedDate,item.type)">
                        <span class="event-title"> {{ item.name }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="empty-data-image" *ngIf="clickedDateEvents?.length == 0" style="height: 240px !important; margin:0px;">
            <img onContextMenu="return false;" src="assets/img/no-event-img.png" alt="{{language.club_events.no_events}}" loading="lazy"><br>
            <span>{{language.club_events.no_events}}</span>
        </div>
    </div>
</div>
