<div class="layout-main">
    <div class="m-header-main">
        <app-m-header></app-m-header>
    </div>
    <div class="layout-content">
        <ng-container *ngIf="!userDetails.isMember_light && !userDetails.isMember_light_admin">
            <app-push-notification ></app-push-notification>
        </ng-container>
        <router-outlet ></router-outlet>
    </div>
    <div class="navigation-tool-main">
        <app-navigation-tool></app-navigation-tool>
    </div>
</div>
<div class="load-container" *ngIf="authService.showLoader">
    <div class="linespinner"></div>
  </div>

