<div class="content">
    <div class="add_event_main event_main">
        <div class="row">
            <div class="col-md-12 add_event_content Payment_data_main">
                <div class="card">
                    <form [formGroup]="messageForm" (ngSubmit)='messageProcess()'>
                        <div class="card-body">
                            <div class="profile_details">
                                <!-- <div class="alert alert-danger" *ngIf="responseMessage">{{responseMessage}}</div> -->
                                <div class="row cm_row">
                                    <div class="col-md-6">
                                        <div class="event_field">
                                            <label>{{language.create_message.subject}}</label>
                                            <input type="text" formControlName="subject" placeholder="{{language.create_message.subject_placeholder}}">
                                            <label class="text-danger"
                                                *ngIf="messageSubmitted && messageForm.controls['subject'].errors">{{language.error_message.common_required}}</label>
                                        </div>
                                        <div class="event_field task_area_field">
                                            <label>{{language.create_message.content}}</label>
                                            <textarea formControlName="message" placeholder="{{language.create_message.content_placeholder}}"></textarea>
                                            <label class="text-danger"
                                                *ngIf="messageSubmitted && messageForm.controls['message'].errors">{{language.error_message.common_required}}</label>
                                        </div>

                                        <div class="event_upload news_pic_upload">
                                            <div class="message-upload-list" style="display: none;">
                                                <img  onContextMenu="return false;" class="preview_img" src="">
                                                <label class="preview_txt" style="display: none;"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- profile details data End -->
                            <div class="message_upload">
                                <input type="file" (change)="uploadFile($event)" id="add_image">

                                <span class="message_upload_overlay">
                                    <div class="upload_label">
                                        <img  onContextMenu="return false;" src="assets/img/attach.svg" alt="" loading="lazy">
                                        <div class="up_text">
                                            {{language.create_message.add_file}}<br><span>({{language.create_message.max}}20Mb)</span>
                                        </div>
                                        <!-- <div class="error alert alert-danger" *ngIf="responseMessage1"> {{responseMessage1}}</div> -->
                                    </div>
                                </span>
                            </div>
                            <div class="profile_sub_btn message_sub_btn">
                                <button type="submit" class="save_btn"
                                    [ngStyle]="{'border-color': setTheme.default_status == true ? setTheme.create_button_bgcolor : setTheme.create_button_bgcolor,
                                        'background-color': setTheme.default_status == true ? setTheme.create_button_bgcolor : setTheme.create_button_bgcolor,
                                        'color': setTheme.default_status == true ? setTheme.create_button_text : setTheme.create_button_text}">
                                        <span [ngStyle]="{'color': setTheme.default_status == true ? setTheme.create_button_text : setTheme.create_button_text}">
                                            {{language.create_message.send}}</span>
                                </button>
                             
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
