<div class="card birth_main">
    <div class="card-header card-header-new">
        <h5 class="card-title">{{language.club.anniversaries_birthday_new}}</h5>
        <!-- <h5 class="card-title">{{language.club.anniversaries_birthday}}</h5> -->
        <div class="filter-box">
            <mat-form-field appearance="fill">
                <mat-select matNativeControl [(value)]="selected" (selectionChange)="onFilter($event.value)">
                    <mat-option value="1">{{language.club.all_events_new}}</mat-option>
                    <mat-option value="2">{{language.club.birthday}}</mat-option>
                    <mat-option value="3">{{language.club.anniversary}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="card-body card-body-new">
        <!-- <div class="empty-data-image" *ngIf="birthdayData.length == 0  && jubileesData.length == 0">
            <span>{{language.club.no_anniversaries_birthday}}</span>
        </div> -->
        <div class="widget-appointment widget widget-appointment-new" *ngFor='let data of birthdayData'>
            <div class="widget-app-content">
                <div class="app-left-content">
                    <div class="user-img" *ngIf="data.imagePro == null || data.imagePro == ''">
                        <img onContextMenu="return false;" [src]="'assets/img/defaultProfile.jpeg'"
                            style="width: 100px;" alt="" loading="lazy">
                    </div>
                    <div class="user-img" *ngIf="data.imagePro != null"><img onContextMenu="return false;"
                            [src]="data.imagePro" style="width: 100px;" alt="" loading="lazy">
                    </div>
                    <div class="user-content user-content-new">
                        <span class="birthday-badge">{{language.club.birthday}}</span>
                        <Span class="user-name">{{data.firstname}} {{data.lastname}}</Span>
                        <span class="user-status" *ngIf="ageDiff">
                            <!-- <img src="assets/img/birth_ic.svg" onContextMenu="return false;" loading="lazy"> &nbsp; -->
                            {{data.bd_notification | date: 'dd.MM.yy'}} | {{data.age}} {{language.club.years}}
                        </span>


                        <div class="chat-details-new">
                            <a (click)="checkChatDetails(data.id)">{{language.dashboard.congratulate}} <svg 
                                    xmlns="http://www.w3.org/2000/svg" width="7" height="8" viewBox="0 0 7 8"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.651761 2.8685C0.698021 2.98891 0.770394 3.09683 0.863346 3.18399C0.956297 3.27115 1.06736 3.33525 1.18805 3.37139L3.84232 4L1.21301 4.59375C1.08954 4.62857 0.975614 4.69248 0.880232 4.78045C0.78485 4.86842 0.710621 4.97803 0.663407 5.10064L0.0322821 7.37163C-0.00224919 7.45974 -0.00928032 7.55674 0.0121663 7.64916C0.033613 7.74157 0.0824716 7.8248 0.151949 7.88728C0.221426 7.94976 0.30807 7.98837 0.399833 7.99776C0.491595 8.00715 0.583917 7.98685 0.663961 7.93967L6.77112 4.40002C6.84047 4.36049 6.89827 4.30253 6.93852 4.23219C6.97877 4.16184 7 4.08166 7 4C7 3.91834 6.97877 3.83816 6.93852 3.76781C6.89827 3.69747 6.84047 3.63951 6.77112 3.59998L0.663961 0.0603329C0.583917 0.0131548 0.491595 -0.00715134 0.399833 0.0022378C0.30807 0.0116269 0.221426 0.0502448 0.151949 0.112722C0.0824716 0.175199 0.033613 0.258431 0.0121663 0.350845C-0.00928032 0.443258 -0.00224919 0.540262 0.0322821 0.628367L0.651761 2.8685Z"
                                        fill="#41AE4C" />
                                </svg></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="app-right-content" *ngIf="ageDiff">
                    <span class="user-age">{{data.age}} {{language.club.years_old}}</span>
                </div> -->
            </div>
        </div>
        <div class="widget-appointment widget widget-appointment-new" *ngFor='let data of jubileesData'>
            <div class="widget-app-content">
                <div class="app-left-content">
                    <div class="user-img" *ngIf="data?.user?.imagePro == null || data?.user?.imagePro == ''">
                        <img onContextMenu="return false;" [src]="'assets/img/defaultProfile.jpeg'"
                            style="width: 100px;" alt="" loading="lazy">
                    </div>
                    <div class="user-img" *ngIf="data?.user?.imagePro != null"><img onContextMenu="return false;"
                            [src]="data?.user?.imagePro" style="width: 100px;" alt="" loading="lazy">
                    </div>
                    <div class="user-content user-content-new">
                        <span class="jubilee-badge">{{language.club.anniversary}}</span>
                        <Span class="user-name">{{data.user.firstname}} {{data.user.lastname}}</Span>
                        <span class="user-status">
                            <!-- <i class="nc-icon nc-air-baloon"></i>&nbsp; -->
                            {{data.user.created_at |date: 'dd.MM.yy'}} | {{data.vjet}} {{language.club.years_in_club}}
                        </span>
                        <div class="chat-details-new">
                            <a (click)="checkChatDetails(data?.user?.id)">{{language.dashboard.congratulate}} <svg
                                    xmlns="http://www.w3.org/2000/svg" width="7" height="8" viewBox="0 0 7 8"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0.651761 2.8685C0.698021 2.98891 0.770394 3.09683 0.863346 3.18399C0.956297 3.27115 1.06736 3.33525 1.18805 3.37139L3.84232 4L1.21301 4.59375C1.08954 4.62857 0.975614 4.69248 0.880232 4.78045C0.78485 4.86842 0.710621 4.97803 0.663407 5.10064L0.0322821 7.37163C-0.00224919 7.45974 -0.00928032 7.55674 0.0121663 7.64916C0.033613 7.74157 0.0824716 7.8248 0.151949 7.88728C0.221426 7.94976 0.30807 7.98837 0.399833 7.99776C0.491595 8.00715 0.583917 7.98685 0.663961 7.93967L6.77112 4.40002C6.84047 4.36049 6.89827 4.30253 6.93852 4.23219C6.97877 4.16184 7 4.08166 7 4C7 3.91834 6.97877 3.83816 6.93852 3.76781C6.89827 3.69747 6.84047 3.63951 6.77112 3.59998L0.663961 0.0603329C0.583917 0.0131548 0.491595 -0.00715134 0.399833 0.0022378C0.30807 0.0116269 0.221426 0.0502448 0.151949 0.112722C0.0824716 0.175199 0.033613 0.258431 0.0121663 0.350845C-0.00928032 0.443258 -0.00224919 0.540262 0.0322821 0.628367L0.651761 2.8685Z"
                                        fill="#41AE4C" />
                                </svg></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="app-right-content">
                    <span class="user-age">{{data.vjet}} {{language.club.years_old}}</span>
                </div> -->
            </div>
        </div>
    </div>
</div>
