/*create group css start*/

h5.modal-title {
    font-size: 20px;

}
div#profileSpinner {
    left: 0;
    position: absolute;
    top: 0;
    background: #ffffffcf;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parti_name {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background: #4fb96d;
    border-radius: 50%;
    margin-right: 15px;
}
.col-md-6.all_participants .card {
    box-shadow: none;
}
.event_field select {
    width: 100%;
    height: 60px;
    background: #fafbfc;
    border: 1px solid #edf0f3;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
}
.group_edit_btn i {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #192838;
}
.create_group {
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
.group_edit_btn {
    position: absolute;
    top: 15px;
    right: 0px;
}
.group_edit_btn a:first-child {
    background: #4fb96d;
    color: #fff;
}
.group_edit_btn a:first-child i {
    color: #fff;
}
.group_edit_btn a:nth-child(2) {
    background: #e12217;
    color: #fff;
}
.group_edit_btn a:nth-child(2) i {
    color: #fff;
}
.create_group_img {
    height: 400px;
    overflow: hidden;
}
.create_group .user-pic-inner {
    margin-top: 0;
}
.create_group .user-upload-btn i {
    position: relative;
    top: -2px;
}
.group_edit_btn a {
    width: 36px;
    height: 36px;
    display: inline-flex;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-right: 15px;
}
button.save_btn.create_btn {
    width: auto;
    background: #4fb96d;
    border: 1px solid #4fb96d;
    padding: 15px 30px;
}
span.participant_status span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 25px;
    margin-right: 5px;
    vertical-align: -2px;
}
span.participant_status span.approved {
    background: #4fb96d;
}
span.participant_status span.pending {
    background: #fbc61a;
}
span.participant_status span.cancelled {
    background: #e12217;
}
a.edit_btn {
    background: #e4b51a !important;
}
/*group details css start*/
/* .group_detail_img {
    border-radius: 15px;
    background: #fff !important;
    max-height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
}
.group_detail_img img {
    text-align: center;
    height: auto;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    width: 100%;
} */
.group_title {
    color: #1d202f;
}
.group_detail_content {
    font-size: 15px;
    color: #565656;
    font-family: "Gellix", sans-serif;
    font-weight: 500;
    line-height: 23px;
}
.group_title {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    font-family: "Gellix", sans-serif;
    font-weight: 700;
    color: #414141;
    margin-top: 15px;
}
.join_btn button {
    font-size: 18px;
    padding: 2px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #e12217;
}
.group_img_sec {
    position: relative;
    box-shadow: 0px 0px 8px -1px rgb(237 237 253) !important;
}
.group_edit_btn img {
    width: 26px;
    height: 26px;
    margin: 4px 0px;
}
a.edit_btn {
    background: #e4b51a !important;
}
.membar_count {
    position: absolute;
    top: 15px;
    background: #6e63ee;
    padding: 5px 10px;
    color: #fff;
    border-radius: 25px;
    font-size: 12px;
    font-family: "Gellix", sans-serif;
    left: 15px;
}
.widget-app-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.app-right-content {
    padding-top: 7px;
}
/* ad css start */
.application-ad {
    position: fixed;
    z-index: 1;
    bottom: 90px;
    background: #3a9cf5;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 111px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 26px 11px 26px;
    width: 100%;
}
.ad-left {
    width: 70%;
}
.ad-right {
    width: 40%;
}
.ad-left span {
    font-size: 16px;
    font-family: "Gellix", sans-serif;
    color: #fff;
    font-weight: 600;
}
span.get-btn {
    font-size: 9px;
    font-weight: 600;
    background: #ffdd64;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 25px;
    color: #4d7fae;
    text-transform: uppercase;
    width: auto !important;
}
span.get-btn a {
    font-family: "Gellix", sans-serif;
    font-size: 10px;
    padding: 0px 8px;
    display: inline-block;
}
span.get-btn {
    margin-top: 10px;
}
.ad-right span {
    height: auto;
    text-align: center;
}
.ad-right span img {
    width: 100px;
    border-radius: 15px;
}
.ad-right span a {
    line-height: 12px;
    color: #b98e2efa;
}
.ad-left img {
    margin-bottom: 5px;
    margin-top: 10px;
}
.close-icon button {
    background: transparent;
    padding: 0;
    border: none;
}
.close-icon {
    position: absolute;
    top: 9px;
    right: 17px;
}
.ad-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::ng-deep .mobile-red .application-ad {
    background-color: #E93608 !important;
}
 
::ng-deep .mobile-green .application-ad {
    background-color: #20AE80 !important;
}
.application-ad.last-ad {
    /* background: #f7a137; */
    bottom: 35px;
}
.application-ad a {
    display: inline-block;
    width: 100%;
}
.application-ad.last-ad .add-inner {
    padding: 40px 26px 11px 26px;
}

.add-inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 26px 11px 26px;
    width: 100%;
}

@media only screen and (max-width: 1260px) and (min-width: 1025px) {
    .widget-app-content {
        display: inline-block;
        margin-bottom: 19px;
        width: 100%;
    }
    .app-left-content {
        float: left;
    }
    .app-right-content {
        float: right;
    }
}
@media only screen and (max-width: 1024px) {
    .col-md-12.add_event_content.group_detail_section .col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}
@media only screen and (max-width: 767px) {
    /* .col-md-6.all_participants .card-body {
    padding: 0;
} */
    .widget-app-content {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    ::ng-deep body .app-left-content {
        width: 100%;
        flex-wrap: nowrap;
    }
    /* .group_detail_img {
        height: 250px !important;
    } */
}
@media only screen and (max-width: 600px) {
    .group_edit_btn a {
        width: 30px;
        height: 30px;
        display: inline-flex;
        border-radius: 3px;
        margin-right: 15px;
    }
    .group_edit_btn img {
        width: 20px;
        height: 20px;
        margin: 5px 0px;
    }
    .membar_count {
        font-size: 12px;
    }
}
@media only screen and (max-width: 500px) {
    .all_participants .user-content {
        padding-top: 6px;
        color: #192838;
        width: 227px;
        float: left;
    }

    .app-right-content {
        float: right;
    }
    .parti_name {
        float: left;
    }
}
/*action toggle css*/

ul.bunch_drop {
    display: none;
}
ul.bunch_drop.show {
    display: block;
}
.dropdown.action_group button {
    background: transparent;
    border: none;
}
.dropdown.action_group button {
    border: none;
    font-size: 24px;
    border-radius: 5px !important;
    background: #e5e9f2;
    height: 32px;
    /* color: #fff; */
    box-shadow: 0px 1px 4px -1px #ccc;
}

.dropdown.action_group {
    position: absolute;
    right: 15px;
    top: 15px;
}
ul.bunch_drop.show {
    position: relative;
    width: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    top: 37px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 4px -1px #ccc;
}
ul.bunch_drop.show li a {
    padding: 8px 20px;
    border-bottom: 1px solid #f7f7f9;
    color: #424d5c;
}
.dropdown-item.active,
.dropdown-item:active {
    background: #f7f7f9 !important;
    color: #424d5c;
}
.dropdown-item.active,
.dropdown-item:hover {
    background: #f7f7f9 !important;
    color: #424d5c !important;
}
button.dropdown-toggle {
    position: absolute;
    right: 0;
}
ul.bunch_drop.show li {
    list-style: none;
}
.dropdown.action_group button:after {
    border: transparent;
}
.col-md-6.all_participants .card {
    box-shadow: none !important;
}
.group_detail_l .news-image {
    height: 189px;
    overflow: hidden;
    border-radius: 3px;
    text-align: center;
    display: grid;
    place-content: center;
}
.group_detail_l .news-image img {
    width: 100%;
}
.group_detail_l .news-content h5,
.group_detail_l .news-content p {
    margin-top: 0;
    margin-bottom: 0;
}
.group_detail_l h5.news-content-heading {
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    max-height: calc(2 * 1.4rem);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}

.author-des > div:first-child {
  width: calc(100% - 100px);
}
.group_rm a {
    /* color: #e12217; */
    color: #5293f4;
    font-size: 13px;
    font-weight: 600;

    margin-left: 0px;

    margin-top: 0px;
    cursor: pointer;
    position: relative;
    top:4px;
}
@media only screen and (max-width: 1366px) and (min-width: 768px) {
    .card-body.group_detail_l .col-md-6 {
        flex: 0 0 33.3% !important;
        max-width: 33.3% !important;
    }
}
@media only screen and (max-width: 990px) and (min-width: 320px) {
    .col-md-6.all_participants .card:first-child {
        margin-top: 30px;
    }
    .group_detail_l .news-image {
        height: 170px;
    }
}
.group_grid_main .card {
    box-shadow: none;
    border-top: 1px solid #c0ccda;
    margin-top: 30px;
}
p.news_author_desc.news-content-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* new design css start */
.group-details-main .card {
    border-radius: 20px;
    padding: 35px 25px;
    box-shadow: none;
}

.page-heading {
    margin-top: 25px;
}
.all_participants .card {
    padding: 0 !important;
}
.all_participants .card-header {
    padding: 0;
}
.appointement-main {
    padding: 0px;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.widget-appointment.widget {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaedf5;
}
span.user-name {
    font-family: "Gellix", sans-serif;
}
@media only screen and (max-width: 1024px) {
    .profile_details .col-md-5,
    .profile_details .col-md-7 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .add_event_content .card {
        padding: 0 !important;
    }
    .group-details-main .card-body {
        padding: 0 !important;
    }
}
/* published buttons css */
.page-action-right button {
    box-shadow: none;
    height: 44px;
    border-radius: 10px;
    border: none;
    padding: 0 25px 0 15px;
    font-weight: 600;
    font-family: "Gellix", sans-serif;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff !important;
}
.page-action-right button {
    margin-right: 15px;
    background: #1eb176 !important;
    /* background: #FB5F5F !important; */
}
.page-action-right button:nth-child(2) {
    background: #fb5f5f !important;
}
.page-action-right button.delete-btn {
    background: #fb5f5f !important;
}
.page-action-right button:last-child {
    margin-right: 0px;
}
.page-action-right button svg {
    margin-right: 5px;
}
.page-action-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 30px;
}
span.author-status,
span.deny-reason {
    font-weight: 600;
    font-family: "Gellix", sans-serif;
    color: #FFBE00;
}
span.deny-reason {
    color: #fb5f5f;
}
.author-des {
    line-height: 17px;

}
/* published buttons end */

::ng-deep .mat-tab-header {
    margin-bottom: 30px;
}
::ng-deep .mat-tab-label-content {
    font-size: 17px;
    font-weight: 600;
    color: #c4cbe0;
    font-family: 'Gellix', sans-serif;
}
::ng-deep .mat-tab-label-active .mat-tab-label-content {
    color: #68759f;
}
::ng-deep .mat-ink-bar {
    display: none;
}
::ng-deep .mat-tab-header {
    border-bottom: 1px solid #eaedf5;
}
.card .card-body {
    padding: 0px 0px;
    overflow: visible;
}

::ng-deep body .mat-tab-body-content {
  height: 100%;
  overflow: visible !important;
}

span.author-status,
span.deny-reason {
    font-weight: 600;
    font-family: "Gellix", sans-serif;
    color: #FFBE00 !important;
}
span.deny-reason {
    color: #fb5f5f !important;
}
.all-news-row {
    display: flex;
    flex-flow: row wrap;
}
.all-news-column {
    max-width: 25%;
    padding: 12px;
    border: none;
    flex: 0 0 25%;
}
.news-widget {
    background-color: #fff;
    cursor: pointer;
}
.club_all_news .news-image {
    overflow: hidden;
    /* height: 210px; */
    margin: auto;
    text-align: center;
    border-radius: 15px;
    object-fit: cover;
}
.club_all_news .news-image img {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    object-fit: cover;
}
.news-content h5 {
    font-size: 16px;
    font-weight: 600;
    color: #192838;
    margin-top: 15px;
    /* margin-bottom: -15px; */
    font-family: "Gellix", sans-serif;
}
.news-content p {
    font-size: 14px;
    color: #424d5c;
    font-weight: 500;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 20px;
    font-family: "Gellix", sans-serif;
}
.group_grid_main .card {
    border-radius: 0 !important;
}
.all-news-column {
    max-width: 25%;
    padding: 12px;
    border: none;
    flex: 0 0 25%;
}
.all-news-column {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 15px;
}
.all-news-column {
    width: 25%;
    max-width: 25%;
    flex: 0 0 25%;
}
span.carousel-badge {
    position: absolute;
    top: 35px;
    background: #28a745;
    padding: 4px 0px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    left: -43px;
    text-transform: uppercase;
    border: 1px dashed #fff;
    box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 20%);
    transform: rotate(-51deg);
    width: 174px;
    text-align: center;
}
.carousel-badge-2.two {
    animation: zoom-in-zoom-out 2.1s cubic-bezier(0.46, 0.03, 0.52, 0.96)
        infinite;
    top: 0px;
    background: #007bff;
    padding: 2px 15px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    left: 15px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 1px dashed #fff;
    box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 20%);
}
.carousel-badge-2.two {
    position: absolute;
    right: 11px;
    /* width: 103px; */
    left: inherit;
    top: -4px;
}
.news-content {
    position: relative;
}

.author-des {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
  margin-top:0px;
}

.author-des  .group_rm {
  white-space: nowrap;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}
@media (max-width: 767px) {
    .page-heading {
        margin-top: 0;
        padding-top: 25px;
    }
    .all-news-column {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
}
