/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Gellix', sans-serif;
    src:  url("./assets/fonts/Gellix-LightItalic.woff") format("woff");
    src: local("./assets/fonts/Gellix Light Italic"),
        local("Gellix-LightItalic"),
        url("./assets/fonts/Gellix-LightItalic.eot?#iefix")
            format("embedded-opentype"),
        url("./assets/fonts/Gellix-LightItalic.woff2") format("woff2"),
        url("./assets/fonts/Gellix-LightItalic.eot") format("eot"),
        url("./assets/fonts/Gellix-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}
.mat-body,
.mat-body-1,
.mat-typography{
 font-family: 'Gellix' !important;
}

.toast-top-right {
    top: 73px !important;
    right: 20px !important;
}
.toast-container .ngx-toastr {
    height: auto !important;
    padding: 31px 50px !important;
    min-width: 300px;
    width: auto;
    line-height: 20px;
}
.toast-close-button {
    top: 0;
}

.page-action {
    justify-content: space-between;
}

::ng-deep .carousel-badge-2.two {
    background: #e7345d !important;
    right:11px !important
}


::ng-deep body .overimage-bar{
   flex: 0 0 320px !important;
}

::ng-deep  body .mat-body, ::ng-deep  body .mat-body-1, ::ng-deep  body .mat-typography .mat-body, ::ng-deep  body .mat-typography .mat-body-1, ::ng-deep  body .mat-typography {
    font-family: "Gellix", sans-serif !important;
}

::ng-deep .mat-body, ::ng-deep .mat-body-1, ::ng-deep .mat-typography ::ng-deep .mat-body, ::ng-deep .mat-typography ::ng-deep .mat-body-1, ::ng-deep .mat-typography {
    font-family: "Gellix", sans-serif !important;
}

 

/* button.disabled.ng-star-inserted:first-child {
    border-color: #FFBE00 !important;
background-color: #FFBE00 !important;
}

button.disabled.ng-star-inserted:nth-child(2) {
     border-color: #e7345d !important;
background-color: #e7345d !important;
}
button.disabled.ng-star-inserted:last-child {
     border-color: #E93608 !important;
background-color: #E93608 !important;
} */
