.survey_action {
    display: inline-block;
  }
  .survey_action .btn{
    background-color: #e12217;
    color: #fff;
    padding: 8px 12px;
    text-transform: capitalize;
}

  .survey_action .btn:hover{
    color: #fff;
  }
  .survey_action_main {
    float: right;
}
.survey_action_main .btn {
    margin-right: 5px;
}

/* new design css start */

.active-survey-data thead tr th {
  padding: 20px 35px !important;
  background: #EAEDF5;
  color: #98A5C6;
  text-transform: uppercase;
  font-family: 'Gellix', sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}
.active-survey-data thead tr th:first-child {
  border-top-left-radius: 20px;
}
.active-survey-data thead tr th:last-child {
  border-top-right-radius: 20px;
}
table.table.active-survey-data th:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 25px;
  background: #fff;
  display: inline-block;
  top: 20px;
}
table.table.active-survey-data td {
  font-weight: 600 !important;
  font-size: 16px;
  padding: 20px 35px;
  font-family: 'Gellix', sans-serif;
  text-transform: capitalize;
}
td.survey-title {
  color: #414141;
  font-weight: 700 !important;
}
td.crm-author {
  color: #9EACC1;
}
td.active-from {
  color: #647895;
}
table.table.active-survey-data tr th span {
  display: flex;
  align-items: center;
}
.mat-progress-bar {
  height: 13px;
  border-radius: 25px;
}
::ng-deep .mat-progress-bar-buffer {
  background-color: #E8E5FF;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #6E63EE;
}
td.remaining-time div span {
  width: 52px;
  margin-left: 15px;
  white-space: nowrap;
}

th.survey-title {
  width: 27%;
}
td.remaining-time div {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
}

.crm-author {
  display: flex;
  align-items: center;
}
.table-responsive {
  display: table;
}
@media only screen and (max-width:767px){
  .table-responsive {
    display: block;
  }
}
@media only screen and (max-width:1024px){
  .survey-tabs-wrapper .card, .survey-tabs-wrapper .card-body {
    padding: 0;
}
}
td.crm-author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
