/* new design css start */
.page-action {
	margin-top: 0px;
  }
  .page-heading {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
  }
  .create-news-main .card{
	padding:62px 52px;
	border-radius: 20px;
  }
  .create-news-main .card-body{
	padding:0;
  }
  .message_upload.create_upload_event span.message_upload_overlay img{
	padding: 0px 5px 0 0px;
	width: 22px;
}
.message_upload.create_upload_event span.message_upload_overlay {
	background: #E9EEFF;
    padding: 8px 15px;
    border-radius: 10px;
}
.message_upload.create_upload_event .upload_label span {
    width: inherit;
    display: inline;
}
.message_upload.create_upload_event .upload_label {
    color: #68759F;
}
.event_field.task_area_field textarea {
    border-color: #E9EEFF;
    border-radius: 10px;
}
.event_field.task_area_field textarea::placeholder {
    color:#CBD2EB;
}
  @media (max-width:1024px){
	.create-news-main .card {
	  padding: 25px;
  }
  }
  @media (max-width:767px){
  .add_event_content {
    height: 100vh;
}
  }